<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>

<div class="bestseller-section">
  <h2>Our Bestseller</h2>
  <div class="carousel owl-carousel">
    {% assign collection_handle = 'bestsellers' %}
    {% assign products = collections[collection_handle].products %}
    {% for product in products limit: 4 %}
      <div class="card">
        <img src="{{ product.featured_image | img_url: 'medium' }}" alt="{{ product.title }}">
        <a class="product_title" href="{{ product.url }}" target="_self">{{ product.title }}</a>
        <div
          product-id="{{ product.id }}"
          product-handle="{{ product1.handle }}"
          class="alireviews-review-star-rating"
        ></div>
        <div class="product_prices">
          {{ product.price | money }}
          {% if product.compare_at_price > product.price %}
            <span>{{ product.compare_at_price | money }}</span>
          {% endif %}
        </div>
        <div class="product_atc">
          <form method="post" action="/cart/add">
            <input type="hidden" name="id" value="{{ product.variants.first.id }}">
            <input type="hidden" min="1" type="number" id="quantity" name="quantity" value="1">
            <input type="submit" value="Add to cart" class="product_btn">
          </form>
        </div>
      </div>
    {% endfor %}
  </div>
</div>

<script>
    var $owl = $('.owl-carousel');
    var owl = $owl.owlCarousel({
     margin: 10,
      center:false,
      items: 4,
      loop: false,
      dots: false,
      nav: false,
      responsive: {
        0: {
          items: 2,
          nav: false
        },
        600: {
          items: 4,
          nav: false
        },
        1000: {
          items: 4,
          nav: false
        },
    },
  });

  $('.collection-age-btns.filtres-js > div > a').click(function(){
    $('.bestseller-section').one("webkitTransitionEnd otransitionend oTransitionEnd msTransitionEnd transitionend", function(event) {
      owl.trigger('refresh.owl.carousel');
    });
  });
</script>

<style>
    .bestseller-section {
        background: #E9F4F9;
        padding: 2rem 16%;
        width: 100%;
    }

    @media (max-width: 890px) {
      .bestseller-section {
      padding: 16px !important;
      width: 100% !important;
      }
    }

    .bestseller-section h2 {
        font-family: MikadoMedium !important;
        font-size: 32px !important;
        font-weight: 500;
        line-height: normal;
        text-align: center !important;
        padding-bottom: 24px !important;
    }

      @media (max-width: 890px) {
       .bestseller-section h2  {
          font-size: 28px !important;
      }
    }

    .carousel {
        width: 100%;
    }

    .card {
        background: #fff;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        gap: 8px;
        border-radius: 11px;
      box-shadow: 0px 4px 16px 0px #00000014;

    }

    @media (max-width: 890px) {
      .card {
      padding: 0.6rem !important;
      gap: 4px !important;
    }
    }

    a.product_title {
        font-family: MikadoMedium;
        font-size: 20px;
        font-weight: 500;
        line-height: normal;
        text-align: left;
        color: #06374F !important;
      display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    height: auto;
    }

        @media (max-width: 890px) {
        a.product_title {
      font-size: 16px !important;

  }
        }

    .product_prices {
        font-family: AvenirMedium;
        font-size: 20px;
        font-weight: 500;
        line-height: normal;
        text-align: left;
        color: #06374F !important;
    }

        @media (max-width: 890px) {
          .product_prices {
            font-size: 18px !important;
          }
        }

    .product_prices span {
        font-size: 16px;
        color: #607F8E !important;
        text-decoration: line-through;
    }

        @media (max-width: 890px) {
          .product_prices span {
            font-size: 16px !Important;
          }
        }

    .product_btn {
        width: 100%;
        border: 2px solid #FF805A;
        border-radius: 4px;
        padding: 8px;
        font-family: MikadoMedium;
        font-size: 20px;
        font-weight: 500;
        line-height: normal;
        text-align: center;
        color: #FF805A !important;
    }

        @media (max-width: 890px) {
         .product_btn {
           font-size: 18px !important;
                       padding: 4px !important;
          }
        }
</style>
