<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<style>
@media screen and (max-width: 1280px) {
    .nav__dropdown-column { width: 120px !important; }
  } 

  .tt-badge-cart {   }
  #bundle{
    color:#FF805A !important;
  }
    .hs-announcement {
      font-weight: 900 !important;
    }
  header {
    position: fixed;
    right: 0;
    width: 100%;
    z-index: 9;
  }
  #tt-pageContent {
    padding-top: 115px;
  }
.secondary-submenu {
	display: inline-flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-content: center;
	justify-content: center;
	align-items: center;
	text-align: center;
	width: 100%;
	background: #fff;
    box-shadow: inset 1px 0px 1px 1px #e6e9eb;
    height: 50px;
}

.nav__dropdown-row {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-content: center;
	justify-content: center;
	align-items: center;
	background: #fff;
	padding: 20px;
	text-align: center;
	width: 100%;
  box-shadow: inset -2px -1px 1px 1px #e6e9eb;
}

#secondary_nav_item {
    padding: 0 1.0rem;
}
      #shop_age > div > div > div > div:nth-child(5) > a > p{
      margin-top: 1rem;
        color: #FF805A !Important;
    }

    #shop_age > div > div > div > div:nth-child(1) > a > p,
    #shop_age > div > div > div > div:nth-child(2) > a > p,
    #shop_age > div > div > div > div:nth-child(3) > a > p,
    #shop_age > div > div > div > div:nth-child(4) > a > p{
      margin: 0;
    }

     #shop_theme > div > div > div > div:nth-child(7) > a > p{
      margin-top: 1rem;
        color: #FF805A !Important;
    }

    #shop_theme > div > div > div > div:nth-child(1) > a > p,
    #shop_theme > div > div > div > div:nth-child(2) > a > p,
    #shop_theme > div > div > div > div:nth-child(3) > a > p,
    #shop_theme > div > div > div > div:nth-child(4) > a > p,
    #shop_theme > div > div > div > div:nth-child(5) > a > p,
    #shop_theme > div > div > div > div:nth-child(6) > a > p{
      margin: 0;
    }
.vertical_divider {
     border-left:1px solid #38546d; 
     border-right:1px solid #16222c; 
     height:80px;
     position:absolute;
     right:249px;
     top:10px; 
}
p.shop_all_btn {
    background: #FFFFFF;
    border: 2px solid #FF805A;
    border-radius: 4px;
    color: #FF805A;
    margin-top: -20px;
    margin-left: 20%;
}
#holiday_bundle {
    color: #D41F3B !important;
}
#shop_age, #shop_theme {
        line-height: 65px !important;
}
#shop_theme > div > div > div > div:nth-child(7):before,
#shop_age > div > div > div > div:nth-child(5):before {
    content: "";
    background: #06374F;
    width: 1px;
    display: block;
    position: absolute;
    left: auto;
    top: 20px;
    bottom: 10px;
    height: 80%;
        }
#shop_theme > div > div > div > div:nth-child(7),
#shop_age > div > div > div > div:nth-child(5) {
      width: 180px;
}
@media (max-width: 640px) {
  .new-badge {
    font-size: 12px !important;
    line-height: 20px !important;
    vertical-align: 0 !important;
    margin-left: 5px !important;
    display: inline-block;
    color: #fff;
    text-transform: uppercase;
    background: #3980C3 !important;
    transition: background .15s;
    border-radius: 10px;
    padding: 0 10px !important;
    height: auto !important;
    top: auto;
    box-shadow: none;
    width: auto !important;
  }
.secondary-header {
        display: none;
        }
  #tt-pageContent {
    padding-top: 53px;
  }
 }

#nav_item {
	padding: 0 1.0vw;
}

.nav__dropdown {
	float: left;
	z-index: 999;
}

.nav__dropdown .dropbtn {
	font-size: 16px;
	border: none;
	outline: none;
	color: white;
	padding: 14px 16px;
	background-color: inherit;
}

.nav__dropdown-content {
	display: none;	
    position: absolute;	
    width: 100%;	
    left: 0%;	
    top: 100%;	
    z-index: 1;
}

.nav__dropdown-content .header {
	background: red;
	padding: 16px;
	color: white;
}

.nav__dropdown:hover .nav__dropdown-content {
	display: block;
}

.nav__dropdown-row {
	display: flex;	
    background: #fff;	
    width: 100%;	
    flex-direction: row;	
    flex-wrap: nowrap;	
    align-content: center;	
    justify-content: center;	
    align-items: center;
}
.nav__dropdown-upper-column {
      display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    gap: 20px 40px;
    text-align: center;
}
    .nav__dropdown-column {
    width: 135px;
    line-height: normal;
    }

.nav__dropdown-column img {
	border-radius: 50px;
	width: 100px;
	height: auto;
	padding: 0;
}

.nav__dropdown-column p {
	font-family: 'MikadoMedium';	
	font-style: normal;	
	font-weight: 500;	
	font-size: 20px;	
	line-height: 20px;	
	color: #06374F;	
  	padding: 10px;	

}

disabled.nav__dropdown-column p {
	font-family: 'Avenir LT Std 85 Heavy';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 16px;
/* Text/Text Blue */
	color: #06374F;
	margin: 0;
}

.nav__dropdown-arrow .fa-chevron-down {
	transition: all 0.5s ease;
}

.rtoate180 {
	transform: rotate(180deg);
  	transition: ease-in 0.3s;
  	
}

.nav_link:hover,
  .fa-chevron-down:hover {
	color: #3980C3 !important;
    disabled.border-bottom: 2px solid;
  
}

.nav_link {
	font-family: 'MikadoMedium' !important;
	font-size: 20px;
	line-height: normal;
	color: #06374F !important;
	font-weight: 500;
	text-decoration: none;
	cursor: pointer;
}

.mobile_nav_heading {
	font-family: 'MikadoMedium';
	font-style: normal;
	font-weight: 500;
	font-size: 28px;
	line-height: 38px;
/* identical to box height */
	text-align: center;
	color: #06374F;
}

.mobile-menu-utils {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-content: center;
	justify-content: space-around;
	align-items: center;
	padding: 20px 0;
	margin: 0;
}

.mobile-site-nav__item {
    display: inline-flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
}

#shopify-section-header > div > div > section > nav > ul > li:nth-child(1):after {
	content: "";
	display: block;
	margin: 0 auto;
	width: 100%;
	border-bottom: 0.5px solid #06374f;
}
#shopify-section-header > div > div > section > nav > ul > li:nth-child(2):after {
	content: "";
	display: block;
	margin: 0 auto;
	width: 100%;
	border-bottom: 0.5px solid #06374f;
}
#shopify-section-header > div > div > section > nav > ul > li:nth-child(3):after {
	content: "";
	display: block;
	margin: 0 auto;
	width: 100%;
	border-bottom: 0.5px solid #06374f;
}

#shopify-section-header > div > div > div > section > nav > ul > li:nth-child(1):after {
  	content: "";
	display: block;
	margin: 0 auto;
	width: 100%;
	border-bottom: 0.5px solid #06374f;
}

#shopify-section-header > div > div > div > section > nav > ul > li:nth-child(2):after {
  	content: "";
	display: block;
	margin: 0 auto;
	width: 100%;
	border-bottom: 0.5px solid #06374f;
}
#shopify-section-header > div > div > div > section > nav > ul > li:nth-child(3):after {
  	content: "";
	display: block;
	margin: 0 auto;
	width: 100%;
	border-bottom: 0.5px solid #06374f;
}
#shopify-section-header > div > div > div > section > nav > ul > li:nth-child(4):after {
  	content: "";
	display: block;
	margin: 0 auto;
	width: 100%;
	border-bottom: 0.5px solid #06374f;
}
#shopify-section-header > div > div > div > section > nav > ul > li:nth-child(5):after {
  	content: "";
	display: block;
	margin: 0 auto;
	width: 100%;
	border-bottom: 0.5px solid #06374f;
}
#shopify-section-header > div > div > div > section > nav > ul > li:nth-child(6):after {
  	content: "";
	display: block;
	margin: 0 auto;
	width: 100%;
	border-bottom: 0.5px solid #06374f;
}
.mobile-site-nav__link {
	font-family: 'Mikado';
	font-size: 20px;
	color: #06374F;
	font-weight: 500;
	padding: 16px 0;
}

/* dont ask me why, just care about output */
#shopify-section-header > div > div > section > nav > ul > li:nth-child(1) > ul > li:nth-child(1) > a,
#shopify-section-header > div > div > section > nav > ul > li:nth-child(1) > ul > li:nth-child(2) > a,
#shopify-section-header > div > div > section > nav > ul > li:nth-child(1) > ul > li:nth-child(3) > a,
#shopify-section-header > div > div > section > nav > ul > li:nth-child(1) > ul > li:nth-child(4) > a,
#shopify-section-header > div > div > section > nav > ul > li:nth-child(1) > ul > li:nth-child(5) > a,
#shopify-section-header > div > div > section > nav > ul > li:nth-child(1) > ul > li:nth-child(6) > a,
#shopify-section-header > div > div > section > nav > ul > li:nth-child(1) > ul > li:nth-child(7) > a,
#shopify-section-header > div > div > section > nav > ul > li:nth-child(1) > ul > li:nth-child(8) > a,
#shopify-section-header > div > div > section > nav > ul > li:nth-child(1) > ul > li:nth-child(9) > a,
#shopify-section-header > div > div > section > nav > ul > li:nth-child(1) > ul > li:nth-child(10) > a,
#shopify-section-header > div > div > section > nav > ul > li:nth-child(1) > ul > li:nth-child(11) > a,
#shopify-section-header > div > div > div > section > nav > ul > li:nth-child(1) > ul > li:nth-child(1) > a,
#shopify-section-header > div > div > div > section > nav > ul > li:nth-child(1) > ul > li:nth-child(2) > a,
#shopify-section-header > div > div > div > section > nav > ul > li:nth-child(1) > ul > li:nth-child(3) > a,
#shopify-section-header > div > div > div > section > nav > ul > li:nth-child(1) > ul > li:nth-child(4) > a,
#shopify-section-header > div > div > div > section > nav > ul > li:nth-child(1) > ul > li:nth-child(5) > a,
#shopify-section-header > div > div > div > section > nav > ul > li:nth-child(1) > ul > li:nth-child(6) > a,
#shopify-section-header > div > div > div > section > nav > ul > li:nth-child(1) > ul > li:nth-child(7) > a,
#shopify-section-header > div > div > div > section > nav > ul > li:nth-child(1) > ul > li:nth-child(8) > a,
#shopify-section-header > div > div > div > section > nav > ul > li:nth-child(1) > ul > li:nth-child(9) > a,
#shopify-section-header > div > div > div > section > nav > ul > li:nth-child(1) > ul > li:nth-child(10) > a,
#shopify-section-header > div > div > div > section > nav > ul > li:nth-child(1) > ul > li:nth-child(11) > a

{
  text-decoration: underline !important;
}

.mobile-site-nav .mobile-site-nav__icon .icon {
	width: 20px;
	height: 20px;
	vertical-align: middle;
	transition: transform 0.25s;
      transform: rotate(180deg);
  
}

.mobile-site-nav__menu {
	display: none;
	width: 100%;
}

.mobile-site-nav__menu .mobile-site-nav__item {
  width: 32%;
}

.nav-items-clicked {
	color: #3980C3 !important;
}

#nav_shop-item:focus {
	color: #3980C3 !important;
}

#nav_shop-item:hover {
	color: #3980C3 !important;
}

#nav_shop-item:active {
	color: #3980C3 !important;
}

.mobile-site-nav__link img {
	width: 64px;
	margin-right: 10px;
    margin-left: 8px;
	vertical-align: middle;
}

.nav-underitem{
display: block;
    margin: 0 16%;
    font-size: 16px;
    font-weight: 500;
    font-family: 'AvenirRegular';
}

  .fa-star:before {
    font-style: normal;
  }


.btn-skprimary {
  width: 425px;
  height: 64px;
  background:  #FF805A;
  border-radius: 4px;
  
  font-family: 'MikadoRegular';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 64px;
text-align: center;
text-transform: uppercase;

color: #FFFFFF;
}

.fa-shopping-cart:before,
.fa-user-circle:before {
  font-size: 22px;
}

.plus-minus-toggle {
  cursor: pointer;
  height: 21px;
  position: relative;
  width: 21px;
}
.plus-minus-toggle:before,
.plus-minus-toggle:after {
  background: #000;
  content: "";
  height: 5px;
  left: 0;
  position: absolute;
  top: 0;
  width: 21px;
  transition: transform 500ms ease;
}
.plus-minus-toggle:after {
  transform-origin: center;
}
.plus-minus-toggle.collapsed:after {
  transform: rotate(90deg);
}
.plus-minus-toggle.collapsed:before {
  transform: rotate(180deg);
}


@media (max-width: 470px) {
  span.save_tagg {
	background:#62BD81;
	color: var(--pf-color-8);
	width: 100px;
	font-family: var(--pf-5th-font);
	font-size: 15px;
	text-align: center;
	padding: 5px;
	margin: 0rem 0px;
	position: relative;
	left: 7.0rem;
	top: 0rem;
	border-radius: 4px;
    color: #fff !important;
}
  
  /* bundle carousel product title font size */
  .__pf_1Sl_YTwT .pf-107_, .__pf_1Sl_YTwT .pf-124_, .__pf_1Sl_YTwT .pf-56_, .__pf_1Sl_YTwT .pf-73_, .__pf_1Sl_YTwT .pf-90_ {
    font-size: 20px !important;
  }
  .__pf_2E8MR9fC .pf-107_, .__pf_2E8MR9fC .pf-124_, .__pf_2E8MR9fC .pf-56_, .__pf_2E8MR9fC .pf-73_, .__pf_2E8MR9fC .pf-90_
  {
    font-size: 20px !important;
  }
  .__pf_ZGqCySv2 .pf-107_, .__pf_ZGqCySv2 .pf-56_, .__pf_ZGqCySv2 .pf-73_, .__pf_ZGqCySv2 .pf-90_ {
    font-size: 20px !important;
  }

  /* customer review heading */
  #az_reviews > div > div > div:nth-child(3) > div > div > p {
    font-size:28px !important;
    line-height: normal !important;
  }
  /* review button */
#az_reviews .write_review_button {
  font-size: 20px !important;
}
  .faq_question p {
    font-weight: 600 !important;
  }
  .mobile-site-nav .mobile-site-nav__icon {
    width: 50%;
    font-size: 25px;
    font-weight: 600;
    text-align: right;
  }
  .docked-mobile-navigation-container__inner {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-content: center;
    justify-content: flex-end;
    align-items: center;
}
  .cart_icon {
    padding-right: 5% !important;
    margin-top: -17%;
    z-index: 2;
}
  #cart > i {
    font-size: 28px !important;
  }
  .nav-underitem {
    margin: 0 20%;
  }
  .mobile-site-nav__link img {
    border-radius: 50px;
  }
  .announcement-bar__content,
  .hura-announcement-bar .hura-message{
    font-weight:600;
    height: auto !important;
    padding: 10px 0;
    font-size: 14px !important;
  }

  .hura-announcement-bar .hura-message {
    padding: 10px 0 !important;
    line-height: 20px !important;
  }
	.page-header {
		display: block;
		padding: 0 !important;
		height: auto;
          box-shadow: 1px 1px #e6e9eb;
	}
  
  .mobile-site-nav__item {
    padding: 0;
  }

  #shopify-section-header > div > div > div > section > nav > ul > li:nth-child(3) > ul > li:nth-child(1) > a > img {
    margin-top: -10px;
  }

  #shopify-section-header > div > div > div > section > nav > ul > li:nth-child(3) > ul > li:nth-child(2) > a > img {
    margin-top: -10px;
  }

  #shopify-section-header > div > div > div > section > nav > ul > li:nth-child(3) > ul > li:nth-child(3) > a > img {
        margin-top: -10px;
  }

  #shopify-section-header > div > div > div > section > nav > ul > li:nth-child(3) > ul > li:nth-child(4) > a > img {
            margin-top: -10px;

  }
  .btn-skprimary {
  width: 325px;
  height: 59px;
  background:  #FF805A;
  border-radius: 4px;
  
  font-family: 'MikadoMedium';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 59px;
text-align: center;
text-transform: uppercase;

color: #FFFFFF;
}
  
}

.article-featured-image {
  display: none!important;
}

.blog_article-btn {
  height: auto;
  padding: 16px 0;
  width: 425px;
  background: #FF805A;
	border-radius: 4px;
  
  font-family: 'Mikado';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: normal;
letter-spacing: 0.08em;
text-transform: uppercase;

color: #FFFFFF;
}

.blog_article-btn:hover {
  color: #fff;
}

/* review button */
.write_review_button {
  font-size: 24px !important;
  font-family: 'MikadoMedium' !important;
  font-weight: 600;
}


#az_reviews .reviews_main_title p {
  text-align: center !important;
}

.__pf_Bpc0GwWv .pf-152_ {
  padding-top: 0px !Important;
}
}

#MainContent > div > form > input.shopify-challenge__button.btn {
    display: block;
    margin: 10px auto !important;
    background: #60bd88 !important;
    box-shadow: none !important;
    width: 300px !important;
    font-family: 'MikadoMedium' !important;
    font-size: 24px !important;
    font-weight: 700 !important;
    letter-spacing: 1px !important;
}

button {
  box-shadow: none;
}
</style>

{%- assign item = section.settings -%}

{%- capture image_size -%}{{ item.logo_max_width }}x{%- endcapture -%}
{%- capture image_size_retina -%}{{ item.logo_max_width | times: 2 }}x{%- endcapture -%}
{%- capture headerlogo -%}{%- if item.logo != blank -%}{{ item.logo | img_url: image_size }}{%- else -%}title_{{ item.logo_text }}{%- endif -%}{%- endcapture -%}
{%- capture headerlogoretina -%}{%- if item.logo != blank -%}{{ item.logo | img_url: image_size_retina }}{%- endif -%}{%- endcapture -%}
{%- capture headerlogoalt -%}{{ item.logo.alt }}{%- endcapture -%}

{%- if template == "index" and settings.header_position -%}
{%- capture headerlogo -%}{%- if settings.show_static_logo -%}{{ 'staticlogo.png' | asset_img_url: image_size }}{%- else -%}title_{{ item.logo_text }}{%- endif -%}{%- endcapture -%}
{%- capture headerlogoretina -%}{%- if settings.show_static_logo -%}{{ 'staticlogo.png' | asset_img_url: image_size_retina }}{%- else -%}title_{{ item.logo_text }}{%- endif -%}{%- endcapture -%}
{%- endif -%}

{%- capture image_size -%}{{ item.logo_max_mobile_width }}x{%- endcapture -%}
{%- capture image_size_retina -%}{{ item.logo_max_mobile_width | times: 2 }}x{%- endcapture -%}
{%- capture headerlogomobile -%}{%- if item.logomobile != blank -%}{{ item.logomobile | img_url: image_size }}{%- else -%}title_{{ item.logo_text }}{%- endif -%}{%- endcapture -%}
{%- capture headerlogomobileretina -%}{%- if item.logomobile != blank -%}{{ item.logomobile | img_url: image_size_retina }}{%- endif -%}{%- endcapture -%}
{%- capture headerlogomobilealt -%}{{ item.logomobile.alt }}{%- endcapture -%}

{%- capture image_size -%}{{ item.logo_max_width_d }}x{%- endcapture -%}
{%- capture image_size_retina -%}{{ item.logo_max_width_d | times: 2 }}x{%- endcapture -%}
{%- capture sheaderlogo -%}{%- if item.logo != blank -%}{{ item.logo | img_url: image_size }}{%- else -%}title_{{ item.logo_text }}{%- endif -%}{%- endcapture -%}
{%- capture sheaderlogoretina -%}{%- if item.logo != blank -%}{{ item.logo | img_url: image_size_retina }}{%- endif -%}{%- endcapture -%}

{%- capture image_size -%}{{ item.logo_max_width_m }}x{%- endcapture -%}
{%- capture image_size_retina -%}{{ item.logo_max_width_m | times: 2 }}x{%- endcapture -%}
{%- capture sheaderlogomobile -%}{%- if item.logomobile != blank -%}{{ item.logomobile | img_url: image_size }}{%- else -%}title_{{ item.logo_text }}{%- endif -%}{%- endcapture -%}
{%- capture sheaderlogomobileretina -%}{%- if item.logomobile != blank -%}{{ item.logomobile | img_url: image_size_retina }}{%- endif -%}{%- endcapture -%}

{%- assign str_blocks_title = '|' -%}
{%- assign str_blocks_title_drag = '|' -%}
{%- for block in section.blocks -%}
{%- assign str_blocks_title = str_blocks_title | append: block.settings.linklist | append: '_' | append: forloop.index0 -%}
{%- unless forloop.last -%}{%- assign str_blocks_title = str_blocks_title | append: '|' -%}{%- endunless -%}
{%- endfor -%}
{%- for block in section.blocks -%}
{%- assign str_blocks_title_drag = str_blocks_title_drag | append: block.settings.newnavigation_item | append: '_' | append: forloop.index0 -%}
{%- unless forloop.last -%}{%- assign str_blocks_title_drag = str_blocks_title_drag | append: '|' -%}{%- endunless -%}
{%- endfor -%}


{%- assign menu_currency = '' -%}
{%- assign menu_language = '' -%}
{%- assign infobar = '' -%}
{%- assign topbar = '' -%}
{%- for block in section.blocks -%}
{%- if block.type == 'menu_currency' -%}{%- assign menu_currency = block.settings -%}{%- endif -%}
{%- if block.type == 'menu_language' -%}{%- assign menu_language = block.settings -%}{%- endif -%}
{%- if block.type == 'infobar' -%}{%- assign infobar = block -%}{%- endif -%}
{%- if block.type == 'topbar' -%}{%- assign topbar = block -%}{%- endif -%}
{%- endfor -%}

{%- capture logoposition -%}{%- case item.logo_bar -%}
{%- when 'logocenter' -%}tt-obj-logo obj-aligment-center
{%- when 'allinline' -%}tt-col-obj tt-obj-logo{% if item.menu_bar == 'menucenter' %} menu-in-center{% endif %}
{%- else -%}tt-obj-logo
{%- endcase -%}{%- endcapture -%}


{%- capture menuposition -%}{%- case item.menu_bar -%}
{%- when 'menucenter' -%}obj-aligment-center
{%- when 'menuright' -%}obj-aligment-right
{%- else -%}obj-aligment-left
{%- endcase -%}{%- endcapture -%}


{%- capture optionsposition -%}{%- case item.logo_bar -%}
{%- when 'logocenter' -%}tt-obj-options obj-move-right tt-position-absolute
{%- when 'allinline' -%}tt-col-obj tt-obj-options obj-move-right
{%- else -%}tt-obj-options obj-move-right tt-position-absolute
{%- endcase -%}{%- endcapture -%}

<header class="desctop-menu-large{% if item.small_header_height %} small-header{% endif %}{% if item.hoverunderline %} tt-hover-03{% endif %}{% if item.logo_bar =="allinlinelogocenter" %} parentallinlinelogocenter{% endif %}">
  {%- include "main-menu-mobile" mm: item.main_menu_selected -%}
  {%- include "header_infobar" -%}
  {%- include "header_topbar" -%}

  {% if settings.use_header_inline %}{%- include "header_mobile_inline" -%}
  {% else %}{%- include "header_mobile" -%}
  {% endif %}
  
  <!-- tt-desktop-header -->
  <div class="tt-desktop-header{% if settings.header_position and template == 'index' %} tt-header-static{% endif %}">

    
    
    <div class="container{% if item.header_fullwidth %}-fluid{% endif %}">
      <div class="tt-header-holder"{% if item.logo_bar =="allinlinelogocenter" %}"{% endif %}>

        {% if item.logo_bar =="allinlinelogocenter" %}
        <div class="tt-desctop-parent-menu tt-parent-box tt-obj-menu">
          <div class="tt-desctop-menu">
            <style>
              .tt-desctop-menu {
                    margin: 0px;
    padding: 1rem 0;
    width: 20%;
    display: inline-flex;
    flex-direction: row;0
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
                z-index:9;
              }
              </style>
            <div id="nav_item">
  <a id="subscription-boxes" href="/collections/all-ages" class="nav_link">Shop all</a>
</div>
<div id="nav_item">
  <a id="subscription-boxes" href="/pages/about-us" class="nav_link">About us</a>
</div>
          </div>
        </div>
        
        <div class="allinlinelogocenter" itemscope itemtype="http://schema.org/Organization">
          {%- include "header_logo" -%}
        </div>
        {% else %}
        <div class="{{ logoposition }}" itemscope itemtype="http://schema.org/Organization">
          {%- include "header_logo" -%}
        </div>

        {%- if item.logo_bar == 'allinline' and item.menu_design == 'tt-menu-small' -%}
        <div class="tt-col-obj tt-obj-menu {{ menuposition }}"{% if item.menu_bar == 'menucenter' and item.menupadding != '' %} style="padding-right: {{ item.menupadding }}px;"{% endif %}>
          <!-- tt-menu -->
          <div class="tt-desctop-parent-menu tt-parent-box">
            <div class="tt-desctop-menu">
              {%- include "main-menu" -%}
            </div>
          </div>
        </div>
        {%- endif -%}
        {% endif %}

        <div class="{{ optionsposition }}">
          {%- include "header_options" -%}
        </div>

      </div>
    </div>

    
    {%- if item.logo_bar != 'allinlinelogocenter' -%}
    {%- if item.logo_bar != 'allinline' or item.menu_design != 'tt-menu-small' -%}
    {%- if item.menu_design != 'tt-menu-small' -%}<div class="tt-color-scheme-01 menubackground">{%- endif -%}
      <div class="container{% if item.header_fullwidth %}-fluid{% endif %} single-menu">
        <div class="tt-header-holder">
          <div class="tt-obj-menu {{ menuposition }}">
            <div class="tt-desctop-parent-menu tt-parent-box">
              <div class="tt-desctop-menu {{ item.menu_design }}">
                {%- include "main-menu" -%}
              </div>
            </div>
          </div>
        </div>
      </div>
    {%- if item.menu_design != 'tt-menu-small' -%}</div>{%- endif -%}
    {%- endif -%}
    {%- endif -%}
  </div>

<!-- subnav -->
<div class="tt-desktop-header">
<!-- Secondary Header -->
<div class="secondary-header">
  <div class="secondary-subheader1">
     <div class="secondary-subheader2">
        <div class="secondary-menu">
           <div class="secondary-submenu">
              <!-- secondary menu items -->
               <!-- LeadGen -->
              <div id="secondary_nav_item">
                <a id="leadgen" href="/pages/lead-gen-form" class="nav_link">Return Gifts<span class="save-badge">25% OFF</span></a>
              </div>
                <!-- GiftBundles -->
              <div id="secondary_nav_item">
                <a id="gift" href="/collections/birthday-gifts-for-kids" class="nav_link">Birthday Gifts</a>
              </div>
             <!-- secondary menu items -->
                  
             <style>
               .new-badge {
                 display: inline-block;
    margin-left: -15px;
    vertical-align: 16px;
    color: #fff;
    text-transform: uppercase;
    font-size: 10px;
    line-height: 15px;
    background: #ff805a;
    transition: background .15s;
    border-radius: 10px;
    padding: 0 5px;
    height: auto;
    top: auto;
    box-shadow: none;
}

.save-badge {
    font-size: 12px;
    background: #3980C3 !important;
    padding: 2px 8px;
    color: #fff;
    border-radius: 50px;
    position: relative;
    bottom: 12px;
}

               #bundle-save,
               #mm0 > ul > li:nth-child(2) > a {  }
 </style>
             <div id="secondary_nav_item">
                <a id="bundle-save" href="/collections/bundle-save" class="nav_link">Bundle & Save<span class="save-badge">15% OFF</span></a>
              </div>
              <div id="secondary_nav_item">
                 <a id="bestseller" href="/collections/best-sellers" class="nav_link desktop">Bestsellers</a>
              </div>
                <!-- Shop by age -->
              <div id="secondary_nav_item">
                 <div class="nav__dropdown" id="shop_age">
                    <a id="shop_age" class="nav_link nav__shopbtn">Shop by age <i class="fa fa-chevron-down" aria-hidden="true"></i></a>
                    <!-- shop by age dropdown menu -->
                    <div class="nav__dropdown-content">
                       <div class="nav__dropdown-row">
                          <div class="nav__dropdown-upper-column">
                            
                             <div class="nav__dropdown-column">
                                <a href="/collections/our-products-for-ages-0-3">
                                   <img src="https://cdn.shopify.com/s/files/1/0586/8149/1647/files/Age_1.png" loading="lazy" fetchpriority="low" alt="Age 1" width="100%" height="100%" class="lazyload">
                                   <p>Ages 0-3</p>
                                </a>
                             </div>
                             <div class="nav__dropdown-column">
                                <a href="/collections/3-6-years">
                                   <img src="https://cdn.shopify.com/s/files/1/0586/8149/1647/files/Age_3.png" loading="lazy" fetchpriority="low" alt="Age 3" width="100%" height="100%" class="lazyload">
                                   <p>Ages 3+</p>
                                </a> 
                             </div>
                             <div class="nav__dropdown-column">
                                <a href="/collections/6-9-years">
                                   <img src="https://cdn.shopify.com/s/files/1/0586/8149/1647/files/Age_6.png" loading="lazy" fetchpriority="low" alt="Age 6" width="100%" height="100%" class="lazyload">
                                   <p>Ages 6+</p>
                                </a>
                             </div>
                             <div class="nav__dropdown-column">
                                <a href="/collections/8-13-years">
                                   <img src="https://cdn.shopify.com/s/files/1/0586/8149/1647/files/Age_8.png" loading="lazy" fetchpriority="low" alt="Age 8" width="100%" height="100%" class="lazyload">
                                   <p>Ages 8+</p>
                                </a>
                             </div>
                              <!--<div class="vertical_divider"></div>-->
                             <div class="nav__dropdown-column">
                                <a href="/collections/all-ages">
                                   <p class="shop_all_btn">Shop all</p>
                                </a>
                             </div>
                          </div>
                       </div>
                    </div>
                 </div>
              </div>
                 <!-- Shop by theme -->
              <div id="secondary_nav_item">
                 <div class="nav__dropdown" id="shop_theme">
                    <a id="shop_theme" class="nav_link nav__shopbtn">Shop by category <i class="fa fa-chevron-down" aria-hidden="true"></i></a>
                    <!-- shop by theme dropdown menu -->
                    <div class="nav__dropdown-content">
                       <div class="nav__dropdown-row">
                          <div class="nav__dropdown-upper-column">
                            <div class="nav__dropdown-column">
                                <a href="/collections/arts-crafts">
                                   <img src="https://cdn.shopify.com/s/files/1/0568/1945/0045/files/Arts_Crafts.png" loading="lazy" fetchpriority="low" alt="Art and craft" width="100%" height="100%" class="lazyload">
                                   <p>Arts & <br>Crafts</p>
                                </a>
                             </div>

                               <div class="nav__dropdown-column">
                                <a href="/collections/puzzles-pretend-play">
                                   <img src="https://cdn.shopify.com/s/files/1/0568/1945/0045/files/Puzzles_Pretend_Play.png" loading="lazy" fetchpriority="low" alt="puzzel pretend play" width="100%" height="100%" class="lazyload">
                                   <p>Puzzles & Pretend Play</p>
                                </a>
                             </div>
                              <div class="nav__dropdown-column">
                                <a href="/collections/toddler-infants">
                                   <img src="https://cdn.shopify.com/s/files/1/0568/1945/0045/files/Toddlers_Infants.webp" loading="lazy" fetchpriority="low" alt="toddlers infants" width="100%" height="100%" class="lazyload">
                                   <p>Toddlers & Infants</p>
                                </a>
                             </div>
                             <div class="nav__dropdown-column">
                                <a href="/collections/learning-resources">
                                   <img src="https://cdn.shopify.com/s/files/1/0568/1945/0045/files/Learning_Resources.webp" loading="lazy" fetchpriority="low" alt="learning resources" width="100%" height="100%" class="lazyload">
                                   <p>Learning Resources</p>
                                </a>
                             </div>
                            <div class="nav__dropdown-column">
                                <a href="/collections/card-board-games">
                                   <img src="https://cdn.shopify.com/s/files/1/0568/1945/0045/files/Card_Board_Games.webp" loading="lazy" fetchpriority="low" alt="cardbord game" width="100%" height="100%" class="lazyload">
                                   <p>Card & Board Games</p>
                                </a>
                             </div>
                             <div class="nav__dropdown-column">
                                <a href="/collections/stem-toys">
                                   <img src="https://cdn.shopify.com/s/files/1/0568/1945/0045/files/STEM_Toys.webp" loading="lazy" fetchpriority="low" alt="stem toys" width="100%" height="100%" class="lazyload">
                                   <p>STEM Toys</p>
                                </a>
                             </div>
                            
                              <!--<div class="vertical_divider"></div>-->
                             <div class="nav__dropdown-column">
                                <a href="/collections/all-products">
                                   <p class="shop_all_btn">Shop all</p>
                                </a>
                             </div>
                          </div>
                       </div>
                    </div>
                 </div>
              </div>
              <!-- NewLaunches
              <div id="secondary_nav_item">
                 <a id="new-launches" href="/collections/new-launches" class="nav_link">New launches</a>
              </div> -->
                           <div id="secondary_nav_item">
                <a id="new-launches" href="/collections/new-launches" class="nav_link">New Launches</a>
              </div>
              <!-- BestSeller -->

           </div>
        </div>
     </div>
    </div>
</header>
 
 {% comment %} 
  <!-- stuck nav -->
  <div class="tt-stuck-nav{% unless item.header_sticky_header %} disabled{% endunless %}{% if settings.use_header_inline %} notshowinmobile{% endif %}">
    <div class="container{% if item.header_fullwidth %}-fluid{% endif %}">
      <div class="tt-header-row ">
        {%- if item.showsucklogodesktop -%}
        <div class="tt-stuck-parent-logo{% if item.logo_bar =="allinlinelogocenter" %} allinlinelogocenter{% endif %}">
          <a href="/" class="tt-logo" itemprop="url">
            {%- if headerlogo contains "title_" -%}<h2 class="tt-title">{{ headerlogo | split:"title_" | last }}</h2>
            {%- else -%}<img src="{{ sheaderlogo }}"
                             srcset="{{ sheaderlogo }} 1x, {{ sheaderlogoretina }} 2x"
                             alt="{{ headerlogoalt }}"
                             class="tt-retina" itemprop="logo"/>
            {%- endif -%}
          </a>
        </div>
        {%- endif -%}
        <div class="tt-stuck-parent-menu"></div>
        <div class="tt-stuck-parent-search tt-parent-box"></div>
        {%- unless settings.catalogue_mode -%}
        {%- if template != "cart" -%}
        <div class="tt-stuck-parent-cart tt-parent-box"></div>
        {%- endif -%}
        {%- endunless -%}
        {%- if item.show_options_links -%}
        <div class="tt-stuck-parent-multi tt-parent-box"></div>
        {%- endif -%}
      </div>
    </div>
    <div class="container-fluid" style="padding:0px;">
<div class="secondary-header">
  <div class="secondary-subheader1">
     <div class="secondary-subheader2">
        <div class="secondary-menu" style="box-shadow: inset 0px 0px 1px 1px #e6e9eb;">
           <div class="secondary-submenu">
              <!-- secondary menu items -->
                <!-- GiftBundles -->
              <div id="secondary_nav_item">
                <a id="gift" href="/pages/gifts" class="nav_link">Birthday Gifts</a>
              </div>
                <!-- Shop by age -->
              <div id="secondary_nav_item">
                 <div class="nav__dropdown" id="shop_age">
                    <a id="shop_age" class="nav_link nav__shopbtn">Shop by age <i class="fa fa-chevron-down" aria-hidden="true"></i></a>
                    <!-- shop by age dropdown menu -->
                    <div class="nav__dropdown-content">
                       <div class="nav__dropdown-row">
                          <div class="nav__dropdown-upper-column">
                            
                             <div class="nav__dropdown-column">
                                <a href="/collections/our-products-for-ages-0-3">
                                   <img src="https://cdn.shopify.com/s/files/1/0586/8149/1647/files/Age_1.png">
                                   <p>Ages 0-3</p>
                                </a>
                             </div>
                             <div class="nav__dropdown-column">
                                <a href="/collections/3-6-years">
                                   <img src="https://cdn.shopify.com/s/files/1/0586/8149/1647/files/Age_3.png">
                                   <p>Ages 3+</p>
                                </a>
                             </div>
                             <div class="nav__dropdown-column">
                                <a href="/collections/6-9-years">
                                   <img src="https://cdn.shopify.com/s/files/1/0586/8149/1647/files/Age_6.png">
                                   <p>Ages 6+</p>
                                </a>
                             </div>
                             <div class="nav__dropdown-column">
                                <a href="/collections/8-13-years">
                                   <img src="https://cdn.shopify.com/s/files/1/0586/8149/1647/files/Age_8.png">
                                   <p>Ages 8+</p>
                                </a>
                             </div>
                              <!--<div class="vertical_divider"></div>-->
                             <div class="nav__dropdown-column">
                                <a href="/collections/all-ages">
                                   <p class="shop_all_btn">Shop all</p>
                                </a>
                             </div>
                          </div>
                       </div>
                    </div>
                 </div>
              </div>
                 <!-- Shop by theme -->
              <div id="secondary_nav_item">
                 <div class="nav__dropdown" id="shop_theme">
                    <a id="shop_theme" class="nav_link nav__shopbtn">Shop by theme <i class="fa fa-chevron-down" aria-hidden="true"></i></a>
                    <!-- shop by theme dropdown menu -->
                    <div class="nav__dropdown-content">
                       <div class="nav__dropdown-row">
                          <div class="nav__dropdown-upper-column">
                            
                             <div class="nav__dropdown-column">
                                <a href="/collections/animals-dinosaurs">
                                   <img src="https://cdn.shopify.com/s/files/1/0586/8149/1647/files/Animals_Dinosaurs_de4bdc9d-471f-4367-bd3d-c73b0a1a7a73.png">
                                   <p>Animals & Dinosaurs</p>
                                </a>
                             </div>
                             <div class="nav__dropdown-column">
                                <a href="/collections/reading-writing">
                                   <img src="https://cdn.shopify.com/s/files/1/0586/8149/1647/files/Reading_Writing_91fba6d0-f0bc-4d39-8365-54163f9671a9.png">
                                   <p>Reading & Writing</p>
                                </a>
                             </div>
                             <div class="nav__dropdown-column">
                                <a href="/collections/space-geography">
                                   <img src="https://cdn.shopify.com/s/files/1/0586/8149/1647/files/Space_Geography_908a1716-2905-46c1-9155-867686ecce47.png">
                                   <p>Space & Geography</p>
                                </a>
                             </div>
                             <div class="nav__dropdown-column">
                                <a href="/collections/science-math">
                                   <img src="https://cdn.shopify.com/s/files/1/0586/8149/1647/files/Science_Math_f71abea8-e703-4016-a0cb-b49e1ccefe5e.png">
                                   <p>Science & Math</p>
                                </a>
                             </div>
                            <div class="nav__dropdown-column">
                                <a href="/collections/arts-crafts">
                                   <img src="https://cdn.shopify.com/s/files/1/0586/8149/1647/files/Arts_Crafts_851fcc0e-d670-425e-b4cf-e4aff6440503.png">
                                   <p>Arts & Crafts</p>
                                </a>
                             </div>
                              <!--<div class="vertical_divider"></div>-->
                             <div class="nav__dropdown-column">
                                <a href="/collections/all-products">
                                   <p class="shop_all_btn">Shop all</p>
                                </a>
                             </div>
                          </div>
                       </div>
                    </div>
                 </div>
              </div>
              <!-- NewLaunches -->
              <div id="secondary_nav_item">
                 <a id="new-launches" href="/collections/new-launches" class="nav_link">New launches</a>
              </div>
              <!-- BestSeller -->
              <div id="secondary_nav_item">
                 <a id="bestseller" href="/collections/best-sellers" class="nav_link">Bestsellers</a>
              </div>
           </div>
        </div>
     </div>
      
    </div>
    {%- if item.showsucklogomobile and settings.use_header_inline == false -%}
    <div class="tt-mobile-header">
      <div class="container-fluid tt-top-line">
        <div class="row">
          <div class="tt-logo-container">
            <a class="tt-logo tt-logo-alignment" href="/">
              {%- if headerlogomobile contains "title_" -%}<h2>{{ headerlogomobile | split:"title_" | last }}</h2>
              {%- else -%}<img src="{{ sheaderlogomobile }}"
                               srcset="{{ sheaderlogomobile }} 1x, {{ sheaderlogomobileretina }} 2x"
                               alt="{{ headerlogomobilealt }}"
                               class="tt-retina">
              {%- endif -%}
            </a>
          </div>
        </div>
      </div>
    </div>
    {%- endif -%}
  </div>
  
</header>

<style>

</style>
{% endcomment %}
<script>
  document.querySelector('.tt-dropdown-toggle').addEventListener('click',function(){
    // $('.tt-dropdown-toggle').click()
    console.log('hii')
  })
</script>

<script>
  setInterval(function(){
    if($('html').width()<460) {
      $('.hs-cross-sell .hs-frequently-bought span').attr('style','font-family: Mikado Medium !important; font-weight: 700 !important')
      $('.hs-header-close-empty h2').attr('style','font-family: Mikado Medium !important; font-weight: 700 !important')
      $('.hs-checkout-purchase .hs-add--to--cart').attr('style','font-family: Mikado Medium !important; font-weight: 700 !important')
      $('.hs-progess-content .hs-text-free-shipping').attr('style','font-weight: 700 !important')
    }
  },100)
</script>

{% schema %}
  {
    "name": "Header",
    "settings": [
      {
        "type": "checkbox",
        "id": "header_sticky_header",
        "label": "Enable sticky header",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "small_header_height",
        "label": "Small header height",
        "default": true
      },
      {
        "type": "header",
        "content": "Main Menu"
      },
      {
        "type": "link_list",
        "id": "main_menu_selected",
        "label": "Menu Menu",
        "default": "main-menu",
		"info": "Main menu is general menu. From main menu items we can create megamenu and other drop-downs"
      },
      {
        "type": "header",
        "content": "Header width"
      },
      {
        "type": "checkbox",
        "id": "header_fullwidth",
        "label": "Header fullwidth",
        "default": false
      },
      {
        "type": "header",
        "content": "Logo"
      },
      {
        "type": "checkbox",
        "id": "showsucklogodesktop",
        "label": "Show sticky logo on desktop",
        "default": true
      },
      {
        "type": "text",
        "id": "logo_max_width_d",
        "label": "Width of the sticky logo on desktop (in pixels)",
        "default": "95"
      },
      {
        "type": "checkbox",
        "id": "showsucklogomobile",
        "label": "Show sticky logo on mobile",
        "default": true
      },
      {
        "type": "text",
        "id": "logo_max_width_m",
        "label": "Width of the sticky logo on mobile (in pixels)",
        "default": "95"
      },
      {
        "type": "text",
        "id": "logo_text",
        "label": "Logo Text",
        "default": "Wokiee",
		"info": "Work when logo image is empty."
      },
      {
        "type": "text",
        "id": "logo_margin_top",
        "label": "Desktop logo top offset",
        "default": "0",
		"info": "Integer in px"
      },
      {
        "type": "image_picker",
        "id": "logo",
        "label": "Logo Main",
		"info": "95x19px"
      },
      {
        "type": "text",
        "id": "logo_max_width",
        "label": "Logo Main width (in pixels)",
        "default": "95"
      },
      {
        "type": "image_picker",
        "id": "logomobile",
        "label": "Logo Mobile",
		"info": "95x19px"
      },
      {
        "type": "text",
        "id": "logo_max_mobile_width",
        "label": "Logo Mobile width (in pixels)",
        "default": "95"
      },
      {
        "type": "header",
        "content": "Header Design"
      },
      {
        "type": "select",
        "id": "logo_bar",
        "label": "Logo bar",
        "options": [
          {
            "value": "default",
            "label": "Logo left. Options right"
          },
          {
            "value": "logocenter",
            "label": "Logo center. Options right"
          },
          {
            "value": "allinline",
            "label": "All in line with menu"
          },
          {
            "value": "allinlinelogocenter",
            "label": "All in line logo in center"
          }
        ],
        "default": "default",
		"info": "\"All in line with menu\" work with menu design: \"Menu without background\""
      },
      {
        "type": "select",
        "id": "menu_bar",
        "label": "Main menu position",
        "options": [
          {
            "value": "default",
            "label": "Menu left"
          },
          {
            "value": "menuright",
            "label": "Menu right"
          },
          {
            "value": "menucenter",
            "label": "Menu center"
          }
        ],
        "default": "default"
      },
      {
        "type": "select",
        "id": "menu_design",
        "label": "Menu design",
        "options": [
          {
            "value": "tt-menu-small",
            "label": "Menu without background"
          },
          {
            "value": "tt-hover-01",
            "label": "Menu with background"
          },
          {
            "value": "tt-hover-02",
            "label": "Menu with background and item background"
          }
        ],
        "default": "tt-menu-small"
      },
      {
        "type": "checkbox",
        "id": "hoverunderline",
        "label": "Menu hover underline",
        "default": false
      },
      {
        "type": "text",
        "id": "menupadding",
        "label": "\"All in line\". Menu center correction",
        "default": "37",
		"info": "Integer in px. Correct menu center position in the screen. Works with option \"All in line\" when the menu in the center. For the screen size > 1230px"
      },
      {
        "type": "text",
        "id": "headerallinlineitems",
        "label": "Shrink main menu. Show items",
        "default": "4",
		"info": "Integer in px. Can work only with option All in line logo in center"
      },
      {
        "type": "text",
        "id": "headerheightcenter",
        "label": "Header height for logo in center",
        "default": "50",
		"info": "Integer in px. Can work only with option All in line logo in center"
      },
      {
        "type": "header",
        "content": "Options in logo bar"
      },
      {
        "type": "checkbox",
        "id": "show_customer_links",
        "label": "Show customer links",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "show_options_links",
        "label": "Show options links",
        "default": true,
		"info": "Language menu. Currency menu"
      }
	],
	"blocks": [
      {
        "type": "menu_language",
        "name": "Languages menu",
        "limit": 1,
        "settings": [
          {
            "type": "select",
            "id": "language_menu_settings",
            "label": "Languages menu settings",
            "options": [
              {
                "value": "default",
                "label": "Menu with external links"
              },
              {
                "value": "weglot",
                "label": "Weglot Translate APP. Default APP design"
              },
              {
                "value": "weglot_theme",
                "label": "Weglot Translate APP. Theme design"
              }
            ],
            "default": "default"
          },
          {
            "type": "paragraph",
            "content": "Menu with external links"
          },
          {
            "type": "text",
            "id": "default_language",
            "label": "Default language name",
            "default": "English"
          },
          {
            "type": "link_list",
            "id": "linklist",
            "label": "Mini Menu Link List"
          }
        ]
      },
      {
        "type": "menu_currency",
        "name": "Multiple Currencies",
        "limit": 1,
        "settings": [
          {
            "type": "paragraph",
            "content": "Explain to your customers what is happening at the checkout[Click here](https:\/\/help.shopify.com\/themes\/customization\/currencies\/show-multiple-currencies#explain-to-your-customers-what-happens-at-checkout)."
          },
          {
            "type": "paragraph",
            "content": "Write ISO 4217 Currency Codes [Click here](http:\/\/www.xe.com\/iso4217.php). Your currencies name: icon [Click here](http:\/\/character-code.com\/currency-html-codes.php), text."
          },
          {
            "type": "textarea",
            "id": "supported_currencies",
            "label": "Currencies you wish to support",
            "default": "USD, $&nbsp;&nbsp;US Dollars | EUR, &nbsp;&nbsp;Euro | GBP, &pound;&nbsp;&nbsp;British Pounds",
            "info": "Example: USD, $ US Dollars | EUR,  Euro | GBP, &pound; British Pounds"
          },
          {
            "type": "paragraph",
            "content": "&nbsp; - space"
          },
          {
            "type": "header",
            "content": "Use shopify multiple currencies from admin panel"
          },
          {
            "type": "paragraph",
            "content": "How to enable [shopify multiple currencies](https:\/\/help.shopify.com\/en\/manual\/payments\/shopify-payments\/multi-currency\/setup)?"
          },
          {
            "type": "paragraph",
            "content": "Currency must be greater than 1"
          },
          {
            "type": "checkbox",
            "id": "use_multiple_currencies",
            "label": "Show shopify multiple currencies",
            "default": false,
			"info": "The theme of the pre-built currency selector will not work"
          },
          {
            "type": "checkbox",
            "id": "show_symbol",
            "label": "Show in the name currency Symbol",
            "default": false,
			"info": "The theme of the pre-built currency selector will not work"
          },
          {
            "type": "checkbox",
            "id": "show_iso_code",
            "label": "Show in the name Iso Code",
            "default": false,
			"info": "The theme of the pre-built currency selector will not work"
          },
          {
            "type": "checkbox",
            "id": "show_name",
            "label": "Show currency full name",
            "default": true,
			"info": "The theme of the pre-built currency selector will not work"
          }
        ]
      },
      {
        "type": "infobar",
        "name": "Information bar",
        "limit": 1,
        "settings": [
          {
            "type": "checkbox",
            "id": "show_content",
            "label": "Show content",
            "default": true
          },
          {
            "type": "checkbox",
            "id": "show_content_index",
            "label": "Show content only in the index",
            "default": false
          },
          {
            "type": "checkbox",
            "id": "show_button_close",
            "label": "Show button close",
            "default": true
          },
          {
            "type":      "range",
            "id":        "fontsize",
            "min":       10,
            "max":       100,
            "step":      1,
            "label":     "Font size",
            "default":   18,
			"unit":      "px"
          },
          {
            "type":      "range",
            "id":        "fontweight",
            "min":       300,
            "max":       900,
            "step":      100,
            "label":     "Font weight",
            "default":   400
          },
          {
            "type":      "range",
            "id":        "toppadding",
            "min":       0,
            "max":       100,
            "step":      1,
            "label":     "Text top padding",
            "default":   24,
			"unit":      "px"
          },
          {
            "type":      "range",
            "id":        "minimalheight",
            "min":       0,
            "max":       100,
            "step":      1,
            "label":     "Bar minimal height",
            "default":   40,
			"unit":      "px"
          },
          {
            "type":      "range",
            "id":        "btnpos",
            "min":       -50,
            "max":       50,
            "step":      1,
            "label":     "Button close. Correct vertical position",
            "default":   -2,
			"unit":      "px"
          },
          {
            "type": "textarea",
            "id": "text",
            "label": "Html Text",
            "default": "STUDENT DISCOUNT 20%, OPTIONAL DELIVERY NEXT DAY, EXCLUSIVE SALE. <a href=\"#\">DETAILS<\/a>"
          },
          {
            "type": "checkbox",
            "id": "background_image",
            "label": "Use background image",
            "default": false
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Background image",
            "info": "Image size max height 150px. Use *.png image. Image always in center and not responsive"
          }
        ]
      },
      {
        "type": "topbar",
        "name": "Top bar",
        "limit": 1,
        "settings": [
          {
            "type": "checkbox",
            "id": "show_content",
            "label": "Show content",
            "default": true
          },
          {
            "type": "textarea",
            "id": "text",
            "label": "Html Text",
            "default": "<div class=\"tt-box-info\">\n<ul>\n<li>\n<i class=\"icon-f-93\"><\/i>+566 4774 9930; +566 4774 9940\n<\/li>\n<li>\n<i class=\"icon-f-92\"><\/i>ALL WEEK FROM 9 AM TO 9 PM <\/li>\n<\/ul>\n<\/div>"
          },
          {
            "type": "header",
            "content": "Social Buttons"
          },
          {
            "type": "checkbox",
            "id": "show_socials",
            "label": "Show social buttons",
            "default": true
          },
          {
            "type": "url",
            "id": "facebook_url",
            "label": "Facebook",
            "info": "If url is empty? Link will be hidden"
          },
          {
            "type": "url",
            "id": "twitter_url",
            "label": "Twitter",
            "info": "If url is empty? Link will be hidden"
          },
          {
            "type": "url",
            "id": "gmail_url",
            "label": "Gmail",
            "info": "If url is empty? Link will be hidden"
          },
          {
            "type": "url",
            "id": "instagram_url",
            "label": "Instagram",
            "info": "If url is empty? Link will be hidden"
          },
          {
            "type": "url",
            "id": "pinterest_url",
            "label": "Pinterest",
            "info": "If url is empty? Link will be hidden"
          },
          {
            "type": "url",
            "id": "whatsapp_url",
            "label": "Whatsapp",
            "info": "If url is empty? Link will be hidden"
          }
        ]
      },
      {
        "type": "menu_two_columns",
        "name": "Simple submenu 2 columns",
        "settings": [
		  {
            "type": "paragraph",
			"content": "Use only item names from the main menu. DO NOT INSERT HERE A LINK FROM THE ADMIN PANEL WITH THE MAIN MENU!"
		  },
          {
            "type": "link_list",
            "id": "linklist",
            "label": "Select menu item",
			"info": "Works on the old method with the menu. Creating navigation with documentation. Select an item from the mega menu. Do not use the new drag and drop in the admin panel menu. Drop limit = 1"
          },
          {
            "type": "textarea",
            "id": "newnavigation_item",
            "label": "Main menu item full name",
			"info": "Works with the new admin panel drag and drop menu. Copy and paste the full name of the item from the main menu. Drop Limit = 1"
          }
        ]
      },
      {
        "type": "ms_simplewithtitle",
        "name": "Simple submenu with title",
        "settings": [
		  {
            "type": "paragraph",
			"content": "Use only item names from the main menu. DO NOT INSERT HERE A LINK FROM THE ADMIN PANEL WITH THE MAIN MENU !!!!!"
		  },
          {
            "type": "link_list",
            "id": "linklist",
            "label": "Select menu item",
			"info": "Works on the old method with the menu. Creating navigation with documentation. Select an item from the mega menu. Do not use the new drag and drop in the admin panel menu. Drop limit = 1"
          },
          {
            "type": "textarea",
            "id": "newnavigation_item",
            "label": "Main menu item full name",
			"info": "Works with the new admin panel drag and drop menu. Copy and paste the full name of the item from the main menu. Drop Limit = 1"
          }
        ]
      },
      {
        "type": "megamenu",
        "name": "Megamenu",
        "settings": [
		  {
            "type": "paragraph",
			"content": "Use only item names from the main menu. DO NOT INSERT HERE A LINK FROM THE ADMIN PANEL WITH THE MAIN MENU !!!!!"
		  },
          {
            "type": "link_list",
            "id": "linklist",
            "label": "Select Menu Item",
			"info": "Works with the old method from the menu. Creating navigation with documentation. Select an item with a mega menu. Do not use the new drag control panel menu. Dropdown = 4"
          },
          {
            "type": "textarea",
            "id": "newnavigation_item",
            "label": "Main Menu Item Full Name",
			"info": "Work with the new admin panel drag and drop menu. Copy and paste the full name of the item from the main menu. Dropdown = 2"
          },
          {
            "type": "select",
            "id": "grid",
            "label": "Items In Row",
            "options": [
              {
                "value": "2",
                "label": "6"
              },
              {
                "value": "3",
                "label": "4"
              },
              {
                "value": "4",
                "label": "3"
              },
              {
                "value": "6",
                "label": "2"
              }
            ],
            "default": "4"
          },
          {
            "type": "header",
            "content": "----------------"
          },
          {
            "type": "header",
            "content": "Categorie Images"
          },
          {
            "type": "image_picker",
            "id": "image1",
            "label": "Image Item 1"
          },
          {
            "type": "image_picker",
            "id": "image2",
            "label": "Image Item 2"
          },
          {
            "type": "image_picker",
            "id": "image3",
            "label": "Image Item 3"
          },
          {
            "type": "image_picker",
            "id": "image4",
            "label": "Image Item 4"
          },
          {
            "type": "image_picker",
            "id": "image5",
            "label": "Image Item 5"
          },
          {
            "type": "image_picker",
            "id": "image6",
            "label": "Image Item 6"
          },
          {
            "type": "header",
            "content": "----------------"
          },
          {
            "type": "header",
            "content": "Widgets"
          },
          {
            "type": "radio",
            "id": "widget",
            "label": "Widget In the Submenu",
            "options": [
              {
                "value": "none",
                "label": "None"
              },
              {
                "value": "gallery",
                "label": "Gallery"
              },
              {
                "value": "banner",
                "label": "Banner"
              }
            ],
            "default": "banner"
          },
          {
            "type": "header",
            "content": "Widget > Gallery"
          },
          {
            "type": "checkbox",
            "id": "widgetgallery_grid",
            "label": "Use grid 5 for links, 7 for gallery",
            "default": false
          },
          {
            "type": "text",
            "id": "widgetgallery_title",
            "label": "Title",
            "default": "SPECIALS"
          },
          {
            "type": "url",
            "id": "widgetgallery_url",
			"label": "Title Link"
          },
          {
            "label": "Collection",
            "id": "collection",
            "type": "collection"
          },
          {
            "type": "text",
            "id": "collection_limit",
            "label": "Show Products",
            "default": "4",
            "info": "Integer"
          },
          {
            "type": "header",
            "content": "Widget > Banner"
          },
          {
            "type": "url",
            "id": "widgetbanner_url",
            "label": "Banner Link"
          },
          {
            "type": "image_picker",
            "id": "widgetbanner_img",
            "label": "Image",
            "info": "Image must be JPG, 410 x 430 Px"
          },
          {
            "type": "textarea",
            "id": "widgetbanner_title",
            "label": "Text 1",
            "default": "SALE"
          },
          {
            "type": "textarea",
            "id": "widgetbanner_title2",
            "label": "Text 2",
            "default": "70% OFF"
          },
          {
            "type": "textarea",
            "id": "widgetbanner_title3",
            "label": "Text 3",
            "default": "Free Shipping on all orders from the US or orders of $ 99 or more."
          },
          {
            "type": "color",
            "id": "widgetbanner_color",
            "label": "Text 1 Color",
            "default": "#ffffff"
          },
          {
            "type": "color",
            "id": "widgetbanner_color2",
            "label": "Text 2 Color",
            "default": "#ffffff"
          },
          {
            "type": "color",
            "id": "widgetbanner_color3",
            "label": "Text 3 Color",
            "default": "#ffffff"
          },
          {
            "type": "color",
            "id": "widgetbanner_color4",
            "label": "Button Color",
            "default": "#ffffff"
          },
          {
            "type": "checkbox",
            "id": "widgetbanner_btn",
            "label": "Show Button",
            "default": true
          },
          {
            "type": "text",
            "id": "widgetbanner_btnname",
            "label": "Button Name",
            "default": "SHOP NOW!"
          },
          {
            "type": "header",
            "content": "----------------"
          },
          {
            "type": "header",
            "content": "Bottom Banners"
          },
          {
            "type": "select",
            "id": "banners_grid",
            "label": "Show Banners",
            "options": [
              {
                "value": "none",
                "label": "None"
              },
              {
                "value": "customhtml",
                "label": "Custom Html"
              },
              {
                "value": "12",
                "label": "1"
              },
              {
                "value": "6",
                "label": "2"
              }
            ],
            "default": "6"
          },
          {
            "type": "textarea",
            "id": "html",
            "label": "Custom Html",
            "info": "Paste your html code. Banners Off.",
            "default": "Custom Html"
          },
          {
            "type": "url",
            "id": "banner1_url",
            "label": "Banner 1 Link"
          },
          {
            "type": "image_picker",
            "id": "bottombanners_img_1",
            "label": "Image 1",
            "info": "Image must be JPG, 542 x 160 Px"
          },
          {
            "type": "text",
            "id": "banners_tit1",
            "label": "Title 1",
            "default": "SUMMER <span class=\"tt-base-color\">2018<\/span>"
          },
          {
            "type": "text",
            "id": "banners_tit11",
            "label": "Title 2",
            "default": "NEW ARRIVALS"
          },
          {
            "type": "color",
            "id": "color_11",
            "label": "Title 1 Color",
            "default": "#ffffff"
          },
          {
            "type": "color",
            "id": "color_12",
            "label": "Title 2 Color",
            "default": "#ffffff"
          },
          {
            "type": "url",
            "id": "banner2_url",
            "label": "Banner 2 Link"
          },
          {
            "type": "image_picker",
            "id": "bottombanners_img_2",
            "label": "Image 2",
            "info": "Image must be JPG, 542 x 160 Px"
          },
          {
            "type": "text",
            "id": "banners_tit2",
            "label": "Title 1",
            "default": "CLEARANCE SALES"
          },
          {
            "type": "text",
            "id": "banners_tit21",
            "label": "Title 2",
            "default": "GET UP TO 20% OFF"
          },
          {
            "type": "color",
            "id": "color_21",
            "label": "Title 1 Color",
            "default": "#ffffff"
          },
          {
            "type": "color",
            "id": "color_22",
            "label": "Title 2 Color",
            "default": "#ffffff"
          }
        ]
      }
	]
  }
{% endschema %}
<style>

.overlay_menu{
  display:none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(0,0,0,0.5); /*dim the background*/
}
  #searchh::placeholder {
font-weight: 500;
}
  
  .utils__right {
    align-items: center;
    display: flex;
    justify-content: flex-start;
    
}
  .mobile-only {
    display: none;
  }
  .nav__dropdown-content {
 
  }
.nav__dropdown-upper-column {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    gap: 20px 40px;
    text-align: center;
}	

@media only screen and (max-width: 1280px) {
     .nav__dropdown-upper-column {
      gap: 20px 45px !important;
    }
  }
 .nav__dropdown-column {	
      width: 140px;
   line-height: normal;
  }
#shop-age > div > div > div > div:nth-child(11) {
  width: 100px;
}
      #shop-age > div > div > div > div:nth-child(11) > a > p {
            color: #FF805A;
    text-decoration: none;
    background: #ff805a29;
    padding: 10px;
    border: 2px solid;
    border-radius: 4px;
      }

  
#shopify-section-header > div > div > div > header > div > div:nth-child(2) {
    wwidth: 53%;
    margin-left: 10%;
}
#searchh {
transition: opacity 0.5s linear;
}
  .search-page-button {
    height: 50px !important;
    font-size: 18px !important;
  }

@media only (min-width:1440px) { 
    .nav__dropdown-upper-column { 
        flex: 0 0 70% !important;
    }
}
@media (max-width: 640px) {

  
  #mm0 > ul > li:nth-child(10) > a,
  #mm0 > ul > li:nth-child(11) > a,
  #mm0 > ul > li:nth-child(12) > a {
    font-family: "MikadoRegular" !important;
  }

  #mm0 > ul > li:nth-child(8) {
    padding-top: unset !important;

  }
.panel-menu li.mm-close-parent {
font-family:'MikadoRegular' !important;
}
  #mm0 > ul > li:nth-child(10) > a {
  padding: 16px !important;
  }
  #mm0 > ul > li:nth-child(8) > a,
#mm0 > ul > li:nth-child(9) > a {
      font-family:"MikadoMedium" !important;
      padding: 16px !important;
}
  #mm0 > ul > li:nth-child(10) {
    padding-top: 2rem;
  }
  
  #mm0 > ul > li:nth-child(13) > a {
    padding: 16px;
  }

  
  #mm0 > ul > li:nth-child(3):after {

  }
  #mm0 > ul > li:nth-child(4) > a {
    
  }
  .save-badge {
        bottom: 5px;
    left: 10px;
  }
  .mob_submenu {
display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 16px;
    text-align: center;
    padding: 0px;
}
  #shopify-section-header > div > div > div > section > nav > ul > li:nth-child(3) > ul > li:nth-child(5) > a > div,
  #shopify-section-header > div > div > div > section > nav > ul > li:nth-child(4) > ul > li:nth-child(6) > a > div
  {
    font-size: 16px;
    color: #FF805A;
    text-decoration: underline;
    position: relative;
    top: -1rem;
  }
  #shopify-section-header > div > div > div > section > nav > ul > li:nth-child(3) > div {
                  width: 58%;
    }
#shopify-section-header > div > div > div > section > nav > ul > li:nth-child(10) > a {
  padding: 0px !important;
}
  disabled.utils {
    border-bottom: 1px solid #e9e9e9;
    margin-bottom: 10px;
}

      .feather-icon .icon {
        width: 30px !important;
        height: 30px !important;
      }
  
  .desktop-only
     {
    display: none !important;
  }
  .mobile-only {
    display: unset;
  }
    .search_icon {
    padding-right: 3%!important;
    margin-top: -17%;
    z-index: 2;
}
  #searchh {
    padding: 12px;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    }
#shopify-section-header > div > div > div > header > div > div:nth-child(2) {
  width: 100%;
    }

  .spl_link > span {
    position: relative;
    color: #D41F3B;
  }
.mobile-site-nav__link_secondary {
  font-family: Mikado !important;
  color: #06374F!important;
  font-size: 18px !important;
  font-weight: 500 !important;
      padding: 10px 0px !important;
  }
  #shopify-section-header > div > div > section > nav > ul > li:nth-child(7) > a {
  padding: 0px !important;
  }
  #shopify-section-header > div > div > div > section > nav > ul > li:nth-child(7) > a {
      padding: 0px !important;
  }
  #shopify-section-header > div > div > section > nav > ul > li:nth-child(7) > a,
  #shopify-section-header > div > div > div > section > nav > ul > li:nth-child(7) > a
  {
    padding: 5px 0;
      }
  #shopify-section-header > div > div > section > nav > ul > li:nth-child(7),
      #shopify-section-header > div > div > div > section > nav > ul > li:nth-child(7){
        margin-top:20vh;
  }
  #shopify-section-header > div > div > section > nav > ul > li:nth-child(5) > a,
  #shopify-section-header > div > div > div > section > nav > ul > li:nth-child(5) > a
  {
    margin-top: 0px;
  }
  #shopify-section-header > div > div > section > nav > ul > li:nth-child(7) > a,
  #shopify-section-header > div > div > section > nav > ul > li:nth-child(8)) > a,
  #shopify-section-header > div > div > section > nav > ul > li:nth-child(9) > a,
  #shopify-section-header > div > div > div > section > nav > ul > li:nth-child(7) > a,
  #shopify-section-header > div > div > div > section > nav > ul > li:nth-child(8) > a,
  #shopify-section-header > div > div > div > section > nav > ul > li:nth-child(9) > a
  {
  padding: 0px !important;
}
</style>
  
