<style>.summer_sale_text:after,.summer_sale_text:before{content:'';height:1px;width:45%;background:#004E8099;position:absolute;margin:0 auto;left:0;right:0}#product_form_7568225927357>div>div>div>div.pf-130_>div{max-width:20ch;word-wrap:break-word;margin:0 auto}.bScGyp .pagination-style-3 button,.jyvJSV .pagination-style-3 button{padding:0!important}.product_details_title{display:-webkit-box;-webkit-line-clamp:2;-webkit-box-orient:vertical;overflow:hidden;height:auto}.view_all>a{color:#ff805a}.bScGyp .pagination-style-3 button:before,.hero_slider .pagination-style-2 button:before,.jyvJSV .pagination-style-3 button:before,.new_launches_carousel .pagination-style-2 button:before{background:#3980c3!important}.bScGyp .pagination-style-3 button,.hero_slider .pagination-style-2 button,.jyvJSV .pagination-style-3 button,.new_launches_carousel .pagination-style-2 button{border-color:#3980c3!important}.pf-media-slider{pointer-events:none}svg{fill:#FFCE31}.freegift_badge{width:80%}.Sale_Countdown .pf-countdown__inner:before{content:"Sale ends in:";width:100%;height:auto;top:0;left:auto;font-family:MikadoMedium;font-size:16px;font-weight:500;line-height:24px;letter-spacing:0;text-align:left;color:#06374f;display:flex;align-items:center;padding-right:1rem}.summer_sale_text:after{bottom:0}.summer_sale_text:before{top:0}.pf-countdown__inner{gap:.3rem}@media (max-width:879px){.bScGyp .pagination-style-3 button,.jyvJSV .pagination-style-3 button{padding:0!important}.bScGyp .nav-style-1{display:none}#product_form_7455204737213>div>div>div>div.sc-iuqRDJ.kQTAuU.pf-1275_>div>div.sc-eBTqsU.hyEaGG.pmw.pf-main-media-wrapper>div.sc-gfqkcP.dRPKlr.pf-1279_{font-size:12px}.freegift_badge{width:100%}.freegift_container{padding-bottom:5px}.dsYygV .pf-countdown__inner:before{font-size:16px;line-height:normal;padding-right:6px}.summer_sale_text:after{width:60%!important;bottom:0}.summer_sale_text:before{width:60%!important;top:0;right:0}.__pf.__pf_Vl7fFcrF .pf-3446_,.__pf.__pf_Vl7fFcrF .pf-3449_,.__pf.__pf_Vl7fFcrF .pf-3451_{font-family:MikadoBold!important}}</style><script>
	window.__pageflyProducts = window.__pageflyProducts || {};
	{% unless product.id == null %}window.__pageflyProducts["{{product.id}}"] = {
		id: {{ product.id | json }},
		handle: {{ product.handle | json }},
		title: {{ product.title | json }},
		type: {{ product.type | json }},
		url: {{ product.url | within: collection | json }},
		vendor: {{ product.vendor | json }},
		variants: {{ product.variants | json }},
		options: {{ product.options | json }},
		media: {{ product.media | json }},
		has_only_default_variant: {{ product.has_only_default_variant | json }},
		options_with_values: {{ product.options_with_values | json }},
		selected_variant: {{ product.selected_variant | json }},
		selected_or_first_available_variant: {{ product.selected_or_first_available_variant | json }},
		tags: {{ product.tags | json }},
		template_suffix: {{ product.template_suffix | json }},
		featured_image: {{ product.featured_image | json }},
		featured_media: {{ product.featured_media | json }},
		images: {{ product.images | json }},
		quantity: {% assign quantity = '' %}{% for variant in product.variants %}{% assign quantity = quantity | append: variant.id | append: ':' | append: variant.inventory_quantity | append: ',' %}{% endfor %}{% assign quantity = quantity | split: ','%}{{quantity | json }}
	};{% endunless %}
	</script>{% if collection_276346765501 == null %}{%- assign collection_276346765501 = collections["bestsellers"] -%}{% endif %} {% if collection_291497345213 == null %}{%- assign collection_291497345213 = collections["new-launches"] -%}{% endif %}<script>
	window.__pageflyCollections = window.__pageflyCollections || {};
	window.__pageflyCollections["276346765501"] = {{collection_276346765501 | json }};window.__pageflyCollections["291497345213"] = {{collection_291497345213 | json }};
	</script>{% if article_559269609661 == null %}{%- assign article_559269609661 = articles["blog/30-birthday-wishes-for-kids-to-send-your-love-blessings"] -%}{% endif %}<div class="sc-AjmGg CPzlA __pf __pf_z82NNiVP" id="__pf"><div data-pf-type="Body" class="sc-cbTzjv cciAhs pf-3_"><div data-pf-type="Layout" class="sc-dUbtfd dTJusa pf-4_"><div data-section-id="pf-5a22" data-pf-type="Section" class="sc-gjNHFA iojfsv pf-5_ pf-color-scheme-1"><div class="sc-gyElHZ fxaypC"><div class="sc-pVTFL cZzoXH pf-6_ pf-r pf-r-eh" style="--s-xs:0px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-md:12;--c-lg:12"><div data-pf-type="Column" class="sc-hjGZqJ dfjDDX pf-7_"><div data-pf-type="Slideshow" id="pf-custom-heroSlider" class="sc-jrQzAO cJbgbu pf-8_ hero_slider"><div data-id="slider-dc48020f-b478-4409-bdda-c82126dcd27e-all" class="pf-slider scrollfix"><div class="pf-slide"><div style="display:block" class="sc-kqnjJL KWNSI pf-9_" data-href="https://www.skillmatics.in/collections/new-launches ?utm_campaign=Search & Find Flashlight Magic and Colour with Clay - Under the Ocean &utm_medium=New Launch_Banner &utm_source=New Launch Homepage Banners &utm_content=Banner_NL" data-target="_blank" data-pf-type="SlideshowSlide"><div class="sc-pVTFL cZzoXH pf-10_ pf-r pf-r-eh" style="--s-xs:0px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-md:12;--c-lg:12"><div data-pf-type="Column" class="sc-hjGZqJ dfjDDX pf-11_"><img src="https://cdn.shopify.com/s/files/1/0568/1945/0045/files/home_pos_2_D_531a8699-7400-4776-907d-2ac17599b31d.webp?v=1718097057" width="2732" height="910" alt="home_pos_2_D.webp__PID:63eeb330-a880-4168-bfe4-acfdcc26ae03" data-action="url" data-href="https://www.skillmatics.in/collections/new-launches%20?utm_campaign=new_launches_banner_poke_in_art_princess_foilfun_pretty_patterns%20&utm_medium=collection_banner%20&utm_source=collection_banner_desktop%20&utm_content=collection_specific" data-target="_self" data-pf-type="Image3" class="sc-kYHfwS QlfnY pf-12_ pf-image-1 pf-hide"/><img src="https://cdn.shopify.com/s/files/1/0568/1945/0045/files/home_pos_2_M_9b56461b-d03f-4336-ac83-9046f4fb0df8.webp?v=1718097057" width="1440" height="1720" alt="home_pos_2_M.webp__PID:1663eeb3-30a8-4051-a87f-e4acfdcc26ae" data-action="url" data-href="https://www.skillmatics.in/collections/new-launches%20?utm_campaign=new_launches_banner_poke_in_art_princess_foilfun_pretty_patterns%20&utm_medium=collection_banner%20&utm_source=collection_banner_mobile%20&utm_content=collection_specific" data-target="_self" data-pf-type="Image3" class="sc-kYHfwS QlfnY pf-13_ pf-image-1 pf-lg-hide pf-md-hide pf-sm-hide"/></div></div></div></div></div><div class="pf-slide"><div style="display:block" class="sc-kqnjJL KWNSI pf-14_" data-pf-type="SlideshowSlide"><div class="sc-pVTFL cZzoXH pf-15_ pf-r pf-r-eh" style="--s-xs:0px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-md:12;--c-lg:12"><div data-pf-type="Column" class="sc-hjGZqJ dfjDDX pf-16_"><img src="https://cdn.shopify.com/s/files/1/0568/1945/0045/files/home_pos_1_D_998e317c-2a1d-48c0-b0fb-47ce8d52a8d0.webp?v=1718097057" width="2732" height="910" alt="home_pos_1_D.webp__PID:b330a880-5168-4fe4-acfd-cc26ae03da9f" data-action="url" data-href="https://www.skillmatics.in/products/foil-fun-disney-frozen-no-mess-art-kit-ages-4-9 ?utm_campaign=foilfun_frozen &utm_medium=homepage_banner_1 &utm_source=homepage_banner_desktop &utm_content=product_specific" data-target="_self" data-pf-type="Image3" class="sc-kYHfwS QlfnY pf-17_ pf-image-1 pf-hide"/><img src="https://cdn.shopify.com/s/files/1/0568/1945/0045/files/home_pos_1_M_eb74a825-ee8a-4a8f-b60d-815e8b99fcd0.webp?v=1718097057" width="1440" height="1720" alt="home_pos_1_M.webp__PID:30a88051-687f-44ac-bdcc-26ae03da9f9f" data-action="url" data-href="https://www.skillmatics.in/products/foil-fun-disney-frozen-no-mess-art-kit-ages-4-9 ?utm_campaign=foilfun_frozen &utm_medium=homepage_banner_1 &utm_source=homepage_banner_mobile &utm_content=product_specific" data-target="_self" data-pf-type="Image3" class="sc-kYHfwS QlfnY pf-18_ pf-image-1 pf-lg-hide pf-md-hide pf-sm-hide"/></div></div></div></div></div><div class="pf-slide"><div style="display:block" class="sc-kqnjJL KWNSI pf-19_" data-href="https://skillmatics.in/collections/bestsellers?utm_campaign=Homepage Banner Carousel&utm_medium=Hompage Banner&utm_source=Homepage&utm_content=Banner_Bestsellers" data-target="_blank" data-pf-type="SlideshowSlide"><div class="sc-pVTFL cZzoXH pf-20_ pf-r pf-r-eh" style="--s-xs:0px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-md:12;--c-lg:12"><div data-pf-type="Column" class="sc-hjGZqJ dfjDDX pf-21_"><img src="https://cdn.shopify.com/s/files/1/0568/1945/0045/files/home_pos_3_D_f573fa84-36d8-4df8-bbf2-b52f2a48345f.webp?v=1718097220" width="2732" height="910" alt="home_pos_3_D.webp__PID:687fe4ac-fdcc-46ae-83da-9f9f2aaad32d" data-action="url" data-href="https://www.skillmatics.in/collections/bestsellers%20?utm_campaign=bestsellers_banner_snip_snip_magnetopia_city%20&utm_medium=collection_banner%20&utm_source=collection_banner_desktop%20&utm_content=collection_specific" data-target="_self" data-pf-type="Image3" class="sc-kYHfwS QlfnY pf-22_ pf-image-1 pf-hide"/><img src="https://cdn.shopify.com/s/files/1/0568/1945/0045/files/home_pos_3_M_8de422de-6a28-47d3-b959-28c3a313deb9.webp?v=1718097057" width="1440" height="1720" alt="home_pos_3_M.webp__PID:eeb330a8-8051-487f-a4ac-fdcc26ae03da" data-action="url" data-href="https://www.skillmatics.in/collections/bestsellers%20?utm_campaign=bestsellers_banner_snip_snip_magnetopia_city%20&utm_medium=collection_banner%20&utm_source=collection_banner_mobile%20&utm_content=collection_specific" data-target="_self" data-pf-type="Image3" class="sc-kYHfwS QlfnY pf-23_ pf-image-1 pf-lg-hide pf-md-hide pf-sm-hide"/></div></div></div></div></div><div class="pf-slide"><div style="display:block" class="sc-kqnjJL KWNSI pf-24_" data-href="https://skillmatics.in/pages/lead-gen-form?utm_source=Hompeage&utm_medium=Hero_Banner&utm_campaign=Lead_gen_Hero_Banner_3" data-target="_blank" data-pf-type="SlideshowSlide"><div class="sc-pVTFL cZzoXH pf-25_ pf-r pf-r-eh" style="--s-xs:0px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-md:12;--c-lg:12"><div data-pf-type="Column" class="sc-hjGZqJ dfjDDX pf-26_"><img src="https://cdn.shopify.com/s/files/1/0568/1945/0045/files/Desktop_Banner_3_1.webp?v=1713253893" width="2732" height="910" alt="Desktop Banner 3 (1).webp__PID:f403fa1d-3aac-4eb1-878c-f72e52d5b6f4" data-pf-type="Image3" class="sc-kYHfwS QlfnY pf-27_ pf-image-1 pf-hide"/><img src="https://cdn.shopify.com/s/files/1/0568/1945/0045/files/Mobile_Banner_3_1.webp?v=1713253948" width="1440" height="1720" alt="Mobile Banner 3 (1).webp__PID:feb1078c-f72e-42d5-b6f4-865d21cd3362" data-pf-type="Image3" class="sc-kYHfwS QlfnY pf-28_ pf-image-1 pf-lg-hide pf-md-hide pf-sm-hide"/></div></div></div></div></div><button type="button" style="visibility:visible" aria-label="Previous" class="pf-slider-prev none hide"></button><button type="button" style="visibility:visible" aria-label="Next" class="pf-slider-next none hide"></button><div class="pf-slider-nav pagination-style-2"></div></div></div></div></div></div></div></div><div data-section-id="pf-0d7e" data-pf-type="Section" class="sc-gjNHFA iojfsv pf-29_ pf-color-scheme-1 pf-lg-hide pf-md-hide pf-sm-hide pf-hide"><div class="sc-gyElHZ fxaypC"><div class="sc-pVTFL cZzoXH pf-30_ pf-r pf-c-cm pf-r-eh" style="--s-xs:15px;--s-sm:0px" data-pf-type="Row"><div class="pf-c pf-hide" style="--c-xs:12;--c-md:12;--c-lg:12"><div data-pf-type="Column" class="sc-hjGZqJ dfjDDX pf-31_ pf-hide"><div data-pf-type="Custom.HTML" class="sc-hmjpVf fuVUXo pf-32_"><svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24">
  <path
    d="M12 .587l3.668 7.568 8.332 1.151-6.064 5.828 1.48 8.279-7.416-3.967-7.417 3.967 1.481-8.279-6.064-5.828 8.332-1.151z" />
</svg>
<svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24">
  <path
    d="M12 .587l3.668 7.568 8.332 1.151-6.064 5.828 1.48 8.279-7.416-3.967-7.417 3.967 1.481-8.279-6.064-5.828 8.332-1.151z" />
</svg>
<svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24">
  <path
    d="M12 .587l3.668 7.568 8.332 1.151-6.064 5.828 1.48 8.279-7.416-3.967-7.417 3.967 1.481-8.279-6.064-5.828 8.332-1.151z" />
</svg>
<svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24">
  <path
    d="M12 .587l3.668 7.568 8.332 1.151-6.064 5.828 1.48 8.279-7.416-3.967-7.417 3.967 1.481-8.279-6.064-5.828 8.332-1.151z" />
</svg>
<svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24">
  <path
    d="M12 .587l3.668 7.568 8.332 1.151-6.064 5.828 1.48 8.279-7.416-3.967-7.417 3.967 1.481-8.279-6.064-5.828 8.332-1.151z" />
</svg>


1,50,000+ Reviews (4.8/5 Rating)</div><h1 data-pf-type="Heading" class="sc-TBWPX gKJFzi pf-33_ pf-heading-1-h3"><span data-pf-type="Text" class="sc-bUbRBg Gdkwx pf-35_">Award-winning games &amp; <br>activities that spark a love of <br>learning</span></h1><img src="https://cdn.shopify.com/s/files/1/0568/1945/0045/files/Desktop_Hp_banner_free_gift_strip.webp?v=1705674189" srcSet="https://cdn.shopify.com/s/files/1/0568/1945/0045/files/Desktop_Hp_banner_free_gift_strip.webp?v=1705674189 1536w, https://cdn.shopify.com/s/files/1/0568/1945/0045/files/Desktop_Hp_banner_free_gift_strip_1000x.webp?v=1705674189 768w, https://cdn.shopify.com/s/files/1/0568/1945/0045/files/Desktop_Hp_banner_free_gift_strip_500x.webp?v=1705674189 320w" width="1030" height="121" alt="Desktop Hp banner free gift strip.webp__PID:eb684f56-a384-44d4-aa21-4f94e8f89fe8" data-pf-type="Image3" class="sc-kYHfwS QlfnY pf-36_ pf-image-1 pf-hide"/><a href="/collections/all-ages" target="_self" data-pf-type="Button" class="sc-khQegj eZIUra pf-37_ pf-button-1"><span data-pf-type="Text" class="sc-bUbRBg Gdkwx pf-39_">Shop now</span><i class="sc-bTfYFJ igLdkl pf-38_ pf-icon-1 pfa pfa-arrow-right" data-pf-type="Icon"></i></a><h3 data-pf-type="Heading" class="sc-TBWPX gKJFzi pf-40_ pf-heading-1-h3 pf-hide"><span data-pf-type="Text" class="sc-bUbRBg Gdkwx pf-42_">Free shipping on all orders over Rs. 400</span></h3></div></div></div><div class="sc-pVTFL cZzoXH pf-43_ pf-r pf-c-cm pf-r-eh pf-lg-hide pf-md-hide pf-sm-hide" style="--s-xs:0px;--s-md:15px;--s-lg:0px" data-pf-type="Row"><div class="pf-c pf-lg-hide pf-md-hide pf-sm-hide" style="--c-xs:12;--c-md:4;--c-lg:4"><div data-pf-type="Column" class="sc-hjGZqJ dfjDDX pf-44_ pf-lg-hide pf-md-hide pf-sm-hide"><div data-pf-type="Custom.HTML" class="sc-hmjpVf fuVUXo pf-45_ pf-md-hide"><svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24">
  <path
    d="M12 .587l3.668 7.568 8.332 1.151-6.064 5.828 1.48 8.279-7.416-3.967-7.417 3.967 1.481-8.279-6.064-5.828 8.332-1.151z" />
</svg>
<svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24">
  <path
    d="M12 .587l3.668 7.568 8.332 1.151-6.064 5.828 1.48 8.279-7.416-3.967-7.417 3.967 1.481-8.279-6.064-5.828 8.332-1.151z" />
</svg>
<svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24">
  <path
    d="M12 .587l3.668 7.568 8.332 1.151-6.064 5.828 1.48 8.279-7.416-3.967-7.417 3.967 1.481-8.279-6.064-5.828 8.332-1.151z" />
</svg>
<svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24">
  <path
    d="M12 .587l3.668 7.568 8.332 1.151-6.064 5.828 1.48 8.279-7.416-3.967-7.417 3.967 1.481-8.279-6.064-5.828 8.332-1.151z" />
</svg>
<svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24">
  <path
    d="M12 .587l3.668 7.568 8.332 1.151-6.064 5.828 1.48 8.279-7.416-3.967-7.417 3.967 1.481-8.279-6.064-5.828 8.332-1.151z" />
</svg>


1,50,000 (4.8/5 Rating)</div><h2 data-pf-type="Heading" class="sc-TBWPX gKJFzi pf-46_ pf-heading-1-h3 pf-lg-hide pf-md-hide pf-sm-hide"><span data-pf-type="Text" class="sc-bUbRBg Gdkwx pf-48_">Award-winning games &amp; activites that spark a love of learning</span></h2><img src="https://cdn.shopify.com/s/files/1/0568/1945/0045/t/50/assets/mobile-banner-image-1670057400268.webp?v=1670057403" width="1312" height="684" data-pf-type="Image3" class="sc-kYHfwS QlfnY pf-49_ pf-image-1 pf-lg-hide pf-md-hide pf-sm-hide pf-hide"/><img src="https://cdn.shopify.com/s/files/1/0568/1945/0045/files/Mobile_HP_banner.webp?v=1705674193" width="989" height="561" alt="Mobile HP banner.webp__PID:4f56a384-e4d4-4a21-8f94-e8f89fe8e391" data-pf-type="Image3" class="sc-kYHfwS QlfnY pf-50_ pf-image-1 pf-lg-hide pf-md-hide pf-sm-hide"/><a href="/collections/all-ages" target="_self" data-pf-type="Button" class="sc-khQegj eZIUra pf-51_ pf-button-1"><span data-pf-type="Text" class="sc-bUbRBg Gdkwx pf-53_">Shop now</span><i class="sc-bTfYFJ igLdkl pf-52_ pf-icon-1 pfa pfa-arrow-right" data-pf-type="Icon"></i></a><h3 data-pf-type="Heading" class="sc-TBWPX gKJFzi pf-54_ pf-heading-1-h3 pf-sm-hide"><span data-pf-type="Text" class="sc-bUbRBg Gdkwx pf-56_">Free shipping on all orders over Rs. 400
</span></h3></div></div></div></div></div><div data-section-id="pf-c115" data-pf-type="Section" class="sc-gjNHFA iojfsv pf-57_ pf-color-scheme-1 pf-lg-hide pf-md-hide pf-sm-hide pf-hide"><div class="sc-gyElHZ fxaypC"><div class="sc-pVTFL cZzoXH pf-58_ pf-r pf-c-cm pf-r-eh pf-lg-hide pf-md-hide pf-sm-hide pf-hide" style="--s-xs:0px;--s-sm:15px;--s-lg:0px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-md:12;--c-lg:12"><div data-pf-type="Column" class="sc-hjGZqJ dfjDDX pf-59_"><div data-slider="{'slidesToShow':{'all':3,'laptop':3,'tablet':2,'mobile':4},'slidesToScroll':{'all':1,'laptop':1,'tablet':1,'mobile':1},'loop':false,'autoPlay':false,'autoPlayDelay':3000,'pauseOnHover':false,'maxHeight':true,'id':'4694396a-5ce1-465c-a4b7-0f3896f67930'}" class="sc-crHmcD sc-egiyK dSSHyU kJQzOM pf-60_   pf-lg-hide pf-md-hide" style="visibility:hidden;height:250.265625px;opacity:0" data-pf-type="Slider2"><div class="glider" style="--g-xs:9px;--g-sm:15px;--g-lg:0px"><div class="glide-wrapper"><div style="height:100%" class="sc-bqiRlB sc-ksdxgE dlncOu kgnlsM pf-61_" data-pf-type="Slide2"><div class="glide-container"><div class="sc-pVTFL cZzoXH pf-62_ pf-r pf-c-cm pf-r-eh" style="--s-xs:0px;--s-sm:15px;--s-lg:5px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-md:12;--c-lg:12"><div data-pf-type="Column" class="sc-hjGZqJ dfjDDX pf-63_"><div data-pf-type="Image" class="sc-hOGkXu dpYkYs pf-64_ pf-image-1"><img src="https://cdn.shopify.com/s/files/1/0586/8149/1647/t/147/assets/asset-42x-1-1661420167076.png?v=1661420168" srcSet="https://cdn.shopify.com/s/files/1/0586/8149/1647/t/147/assets/asset-42x-1-1661420167076.png?v=1661420168 1536w" width="157" height="112"/></div></div></div></div></div></div></div><div class="glide-wrapper"><div style="height:100%" class="sc-bqiRlB sc-ksdxgE dlncOu kgnlsM pf-65_" data-pf-type="Slide2"><div class="glide-container"><div class="sc-pVTFL cZzoXH pf-66_ pf-r pf-c-cm pf-r-eh" style="--s-xs:0px;--s-sm:15px;--s-lg:5px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-md:12;--c-lg:12"><div data-pf-type="Column" class="sc-hjGZqJ dfjDDX pf-67_"><div data-pf-type="Image" class="sc-hOGkXu dpYkYs pf-68_ pf-image-1"><img src="https://cdn.shopify.com/s/files/1/0586/8149/1647/t/147/assets/parentspicksawards2022square-2-1661420049495.png?v=1661420050" srcSet="https://cdn.shopify.com/s/files/1/0586/8149/1647/t/147/assets/parentspicksawards2022square-2-1661420049495.png?v=1661420050 1536w" width="113" height="112"/></div></div></div></div></div></div></div><div class="glide-wrapper"><div style="height:100%" class="sc-bqiRlB sc-ksdxgE dlncOu kgnlsM pf-69_" data-pf-type="Slide2"><div class="glide-container"><div class="sc-pVTFL cZzoXH pf-70_ pf-r pf-c-cm pf-r-eh" style="--s-xs:0px;--s-sm:15px;--s-lg:5px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-md:12;--c-lg:12"><div data-pf-type="Column" class="sc-hjGZqJ dfjDDX pf-71_"><div data-pf-type="Image" class="sc-hOGkXu dpYkYs pf-72_ pf-image-1"><img src="https://cdn.shopify.com/s/files/1/0586/8149/1647/t/147/assets/image-60-1661863686976.png?v=1661863688" srcSet="https://cdn.shopify.com/s/files/1/0586/8149/1647/t/147/assets/image-60-1661863686976.png?v=1661863688 1536w" width="189" height="192"/></div></div></div></div></div></div></div><div class="glide-wrapper"><div style="height:100%" class="sc-bqiRlB sc-ksdxgE dlncOu kgnlsM pf-73_" data-pf-type="Slide2"><div class="glide-container"><div class="sc-pVTFL cZzoXH pf-74_ pf-r pf-c-cm pf-r-eh" style="--s-xs:0px;--s-sm:15px;--s-lg:5px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-md:12;--c-lg:12"><div data-pf-type="Column" class="sc-hjGZqJ dfjDDX pf-75_"><div data-pf-type="Image" class="sc-hOGkXu dpYkYs pf-76_ pf-image-1"><img src="https://cdn.shopify.com/s/files/1/0586/8149/1647/t/147/assets/parentspicksawards2022square-4-1667891141875.webp?v=1667891146" width="160" height="160"/></div></div></div></div></div></div></div></div></div></div></div></div><div class="sc-pVTFL cZzoXH pf-77_ pf-r pf-c-cm pf-r-eh" style="--s-xs:0px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-md:12;--c-lg:12"><div data-pf-type="Column" class="sc-hjGZqJ dfjDDX pf-78_"><div data-pf-type="Image" class="sc-hOGkXu dpYkYs pf-79_ pf-image-1 pf-sm-hide pf-hide"><img src="https://cdn.shopify.com/s/files/1/0568/1945/0045/files/Award_strip_desktop_1.webp?v=1699514333" width="4098" height="360" alt="Award strip desktop (1).webp__PID:3a44e926-5887-4550-8242-d6d1b9886d87"/></div><div data-pf-type="Image" class="sc-hOGkXu dpYkYs pf-80_ pf-image-1 pf-lg-hide pf-md-hide"><img src="https://cdn.shopify.com/s/files/1/0568/1945/0045/files/logos.png?v=1700846477" srcSet="https://cdn.shopify.com/s/files/1/0568/1945/0045/files/logos.png?v=1700846477 1536w" width="720" height="160" alt="logos.png__PID:e25c1072-196a-486b-bf11-9219d9be2634"/></div></div></div></div></div></div><div data-section-id="pf-fbd9" data-pf-type="Section" class="sc-gjNHFA iojfsv pf-81_ pf-color-scheme-1"><div class="sc-gyElHZ fxaypC"><div class="sc-pVTFL cZzoXH pf-82_ pf-r pf-r-eh" style="--s-xs:15px;--s-lg:0px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-md:12;--c-lg:12"><div data-pf-type="Column" class="sc-hjGZqJ dfjDDX pf-83_"><h2 data-pf-type="Heading" class="sc-TBWPX gKJFzi pf-84_ pf-heading-1-h3"><span data-pf-type="Text" class="sc-bUbRBg Gdkwx pf-86_">Shop by Age</span></h2></div></div></div><div class="sc-pVTFL cZzoXH pf-87_ pf-r pf-c-cm pf-r-eh" style="--s-xs:0px;--s-md:15px;--s-lg:0px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-md:12;--c-lg:12"><div data-pf-type="Column" class="sc-hjGZqJ dfjDDX pf-88_"><div class="sc-pVTFL cZzoXH pf-89_ pf-r pf-c-cm pf-r-eh" style="--s-xs:5px;--s-md:15px;--s-lg:20px" data-pf-type="Row"><div class="pf-c" style="--c-xs:6;--c-md:3;--c-lg:3"><div data-href="/collections/our-products-for-ages-0-3" data-target="_self" data-pf-type="Column" class="sc-hjGZqJ dfjDDX pf-90_"><div data-pf-type="Custom.HTML" class="sc-hmjpVf fuVUXo pf-91_"><style>
  .desktop-image {
    display: block;
  }

  .mobile-image {
    display: none;
  }

  @media only screen and (min-width: 601px) {
    .ageimg {
      max-width: 270px;
      max-height: 170px;
      aspect-ratio: 248 / 149;
    }
  }

  @media only screen and (max-width: 600px) {
    .desktop-image {
      display: none;
    }

    .mobile-image {
      display: block;
    }

    .ageimg {
      max-width: 162px;
      max-height: 104px;
      aspect-ratio: 81 / 52;
    }
  }
</style>
<img class="ageimg desktop-image" loading="lazy" alt="0-3 years" width="265px" height="160px" src="https://cdn.shopify.com/s/files/1/0568/1945/0045/files/Placeholder_Webp_273_X_273.webp?v=1715765436"  data-src="https://cdn.shopify.com/s/files/1/0568/1945/0045/files/0-3_years.webp?v=1677492386">
<img class="ageimg mobile-image" loading="lazy" alt="0-3 years" width="162px" height="104px"
src="https://cdn.shopify.com/s/files/1/0568/1945/0045/files/Placeholder_Webp_273_X_273.webp?v=1715765436"  data-src="https://cdn.shopify.com/s/files/1/0568/1945/0045/files/0-3years_mob.webp?v=1677492385"></div><h3 data-pf-type="Heading" class="sc-TBWPX gKJFzi pf-92_ pf-heading-1-h3 pf-lg-hide pf-md-hide pf-sm-hide pf-hide"><a data-link="inherit" href="/collections/1-4-years" target="_self"><span data-pf-type="Text" class="sc-bUbRBg Gdkwx pf-94_">1+ years</span></a></h3></div></div><div class="pf-c" style="--c-xs:6;--c-md:3;--c-lg:3"><div data-href="/collections/3-6-years" data-target="_self" data-pf-type="Column" class="sc-hjGZqJ dfjDDX pf-95_"><div data-pf-type="Custom.HTML" class="sc-hmjpVf fuVUXo pf-96_"><img class="ageimg desktop-image" loading="lazy" alt="0-3 years"  width="265px" height="160px" src="https://cdn.shopify.com/s/files/1/0568/1945/0045/files/Placeholder_Webp_273_X_273.webp?v=1715765436"  data-src="https://cdn.shopify.com/s/files/1/0568/1945/0045/files/3_years_1.webp?v=1675253960">
<img class="ageimg mobile-image" loading="lazy" alt="0-3 years" width="162px" height="104px" src="https://cdn.shopify.com/s/files/1/0568/1945/0045/files/Placeholder_Webp_273_X_273.webp?v=1715765436"  data-src="https://cdn.shopify.com/s/files/1/0568/1945/0045/files/3_years_mob.webp?v=1675254276"></div><h3 data-pf-type="Heading" class="sc-TBWPX gKJFzi pf-97_ pf-heading-1-h3 pf-lg-hide pf-md-hide pf-sm-hide pf-hide"><span data-pf-type="Text" class="sc-bUbRBg Gdkwx pf-99_">3+ years</span></h3></div></div><div class="pf-c" style="--c-xs:6;--c-md:3;--c-lg:3"><div data-href="/collections/6-9-years" data-target="_self" data-pf-type="Column" class="sc-hjGZqJ dfjDDX pf-100_"><div data-pf-type="Custom.HTML" class="sc-hmjpVf fuVUXo pf-101_"><img class="ageimg desktop-image" loading="lazy" alt="0-3 years"  width="265px" height="160px" src="https://cdn.shopify.com/s/files/1/0568/1945/0045/files/Placeholder_Webp_273_X_273.webp?v=1715765436"  data-src="https://cdn.shopify.com/s/files/1/0568/1945/0045/files/6_years_1.webp?v=1675254012">
<img class="ageimg mobile-image" loading="lazy" alt="0-3 years" width="162px" height="104px" src="https://cdn.shopify.com/s/files/1/0568/1945/0045/files/Placeholder_Webp_273_X_273.webp?v=1715765436"  data-src="https://cdn.shopify.com/s/files/1/0568/1945/0045/files/6_years_mob.webp?v=1675254280"></div><h3 data-pf-type="Heading" class="sc-TBWPX gKJFzi pf-102_ pf-heading-1-h3 pf-lg-hide pf-md-hide pf-sm-hide pf-hide"><span data-pf-type="Text" class="sc-bUbRBg Gdkwx pf-104_">6+ years</span></h3></div></div><div class="pf-c" style="--c-xs:6;--c-md:3;--c-lg:3"><div data-href="/collections/8-13-years" data-target="_self" data-pf-type="Column" class="sc-hjGZqJ dfjDDX pf-105_"><div data-pf-type="Custom.HTML" class="sc-hmjpVf fuVUXo pf-106_"><img class="ageimg desktop-image" loading="lazy" alt="0-3 years"  width="265px" height="160px" src="https://cdn.shopify.com/s/files/1/0568/1945/0045/files/Placeholder_Webp_273_X_273.webp?v=1715765436"  data-src="https://cdn.shopify.com/s/files/1/0568/1945/0045/files/8_YEARS_1.webp?v=1675254019">
<img class="ageimg mobile-image" loading="lazy" alt="0-3 years" width="162px" height="104px" src="https://cdn.shopify.com/s/files/1/0568/1945/0045/files/Placeholder_Webp_273_X_273.webp?v=1715765436"  data-src="https://cdn.shopify.com/s/files/1/0568/1945/0045/files/8_years_mob.webp?v=1675254303"></div><h3 data-pf-type="Heading" class="sc-TBWPX gKJFzi pf-107_ pf-heading-1-h3 pf-lg-hide pf-md-hide pf-sm-hide pf-hide"><span data-pf-type="Text" class="sc-bUbRBg Gdkwx pf-109_">8+ years</span></h3></div></div></div></div></div></div></div></div><div data-section-id="pf-bbd5" data-pf-type="Section" class="sc-gjNHFA iojfsv pf-110_ pf-color-scheme-1"><div style="--cw:1170px" class="sc-gyElHZ fxaypC"><div class="sc-pVTFL cZzoXH pf-111_ pf-r pf-c-cm pf-r-eh" style="--s-xs:0px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-md:12;--c-lg:12"><div data-pf-type="Column" class="sc-hjGZqJ dfjDDX pf-112_"><h2 data-pf-type="Heading" class="sc-TBWPX gKJFzi pf-113_ pf-heading-1-h3"><a data-link="inherit" href="/collections/bestsellers" target="_self"><span data-pf-type="Text" class="sc-bUbRBg Gdkwx pf-115_">Our Bestsellers</span></a></h2><div class="sc-jibziO cFuHFf pf-116_ custom-list pf-r pf-r-ew" style="--s-xs:4px;--s-sm:15px;--s-lg:10px;--ew-xs:2;--ew-md:4" data-pf-type="ProductList">{% assign collection_276346765501 = collections["bestsellers"] %}{% assign defaultProduct = product %}{% paginate collection_276346765501.products by 4 %}{% for product in collection_276346765501.products %}<div class="pf-c"><div data-product-id="{{ product.id }}" data-pf-type="ProductBox" id="BestsellerProductDetails" class="sc-kHdrYz gpyAvG pf-117_">{% if product != null %}{% form "product", product, data-productid: product.id, class: "pf-product-form" %}<div class="sc-pVTFL cZzoXH pf-118_ pf-r pf-c-cm pf-r-eh" style="--s-xs:0px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-md:12;--c-lg:12"><div data-pf-type="Column" class="sc-hjGZqJ dfjDDX pf-119_"><div data-product-id="{{ product.id }}" data-media-id="{% liquid
    assign min = 10000000000
    assign max = 99999999999
    assign diff = max | minus: min
    assign number = "now" | date: "%N" | modulo: diff | plus: min
  %}{{number}}" data-pf-type="ProductMedia2" class="sc-kTqLtj eHDBpx pf-120_">
                      {% assign media = product.media %}
                      {% assign featured_media = product.featured_media %}
                      {% assign _product = product %}
                      {% assign first_3d_model = product.media | where: "media_type", "model" | first %}
                  <div class="sc-cfJLRR efntpX   pf-lg-hide-list pf-md-hide-list pf-sm-hide-list pf-xs-hide-list product-media2-inner product-media-loading"><div class="sc-haTkiu kNhtc pmw pf-main-media-wrapper"><div data-pf-type="MediaMain" class="sc-jCHUfY dpoanU pf-121_ pf-main-media" data-href="{{ product.url }}" data-action="url"><div class="sc-hoHwyw gDdOZY">{% if media.size == 0 %}<div class="pf-media-slider scrollfix">{{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}</div>{% else %}<div class="pf-media-slider scrollfix" data-id="slider-fc512bc7-71f6-461f-aa76-4124f81d8e42">{% for media_item in media %}<div class="pf-slide-main-media" data-media-type="{{ media_item.media_type }}" data-media-id="{{ media_item.id }}">{% case media_item.media_type %}
                  {% when 'model' %}<div class="pf-media-wrapper" style="--r-lg:100%">{{ media_item | media_tag }}<div class="pf-mask"><span><svg width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg"><path opacity="0.6" d="M14.1301 3.27971L9.00008 0.319707C8.69604 0.144171 8.35115 0.0517578 8.00008 0.0517578C7.649 0.0517578 7.30411 0.144171 7.00008 0.319707L1.88008 3.31971C1.5719 3.49759 1.31675 3.75447 1.14097 4.06385C0.965185 4.37323 0.875124 4.72391 0.880077 5.07971V10.9997C0.875124 11.3555 0.965185 11.7062 1.14097 12.0156C1.31675 12.3249 1.5719 12.5818 1.88008 12.7597L7.00008 15.7597C7.30411 15.9352 7.649 16.0277 8.00008 16.0277C8.35115 16.0277 8.69604 15.9352 9.00008 15.7597L14.1201 12.7597C14.4283 12.5818 14.6834 12.3249 14.8592 12.0156C15.035 11.7062 15.125 11.3555 15.1201 10.9997V4.99971C15.119 4.65165 15.0271 4.30991 14.8535 4.00825C14.6798 3.7066 14.4305 3.45547 14.1301 3.27971ZM7.73008 14.3797L2.61008 11.3797C2.54095 11.34 2.48167 11.2852 2.43666 11.2194C2.39164 11.1536 2.36205 11.0785 2.35008 10.9997V4.99971C2.3504 4.90601 2.37556 4.81407 2.42299 4.73327C2.47042 4.65246 2.53843 4.58567 2.62008 4.53971L7.74008 1.53971C7.82065 1.49319 7.91204 1.4687 8.00508 1.4687C8.09811 1.4687 8.18951 1.49319 8.27008 1.53971L13.3901 4.53971L8.67008 7.21971C8.45972 7.33976 8.28614 7.51498 8.16806 7.72646C8.04999 7.93793 7.9919 8.17764 8.00008 8.41971V14.4197C7.91475 14.4413 7.8254 14.4413 7.74008 14.4197L7.73008 14.3797Z" fill="black"></path></svg></span></div></div>{% when 'external_video' %}<div class="pf-media-wrapper" data-video-host="{{ media_item.host }}" style="--r-lg:100%">{{ media_item | media_tag }}<div class="pf-mask-iframe" data-play="false"></div></div>{% when 'video' %}<div class="pf-media-wrapper" style="--r-lg:100%">{{ media_item | media_tag }}</div>{% else %}<img loading="eager" class="sc-lheXJl fbmLls active" data-action="1" alt="{{ media_item.alt }}" width="{{ media_item.width }}" height="{{ media_item.height }}" src="{{ media_item | image_url }}"/>{% endcase %}</div>{% endfor %} </div>{% endif %}</div></div></div><div class="sc-bLdqUH eFsMta pf-122_ pf-list-media pf-hide pf-sm-hide pf-md-hide pf-lg-hide" data-pf-type="MediaList2"><div class="pf-media-slider scrollfix " style="--dpi-xs:0%;--gap-xs:10px" data-id="slider-13913355-5076-422a-84af-83445ff78e0b">{% for media_item in media %}
              {% assign media_type = media_item.media_type %}<div class="sc-leSONj hruEcy pf-123_ pf-slide-list-media" data-img-id="{{ media_item.id }}" data-media-type="{{ media_item.media_type }}" data-pf-type="MediaListItem2"><img src="{{ media_item | img_url: "xundefined", scale: 2 }}" alt="{{ media_item.alt }}" loading="eager"/>{% case media_type %}
            {% when 'model' %}<span class="sc-gfXuXe cFhzsk"><svg width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg"><path opacity="0.6" d="M14.1301 3.27971L9.00008 0.319707C8.69604 0.144171 8.35115 0.0517578 8.00008 0.0517578C7.649 0.0517578 7.30411 0.144171 7.00008 0.319707L1.88008 3.31971C1.5719 3.49759 1.31675 3.75447 1.14097 4.06385C0.965185 4.37323 0.875124 4.72391 0.880077 5.07971V10.9997C0.875124 11.3555 0.965185 11.7062 1.14097 12.0156C1.31675 12.3249 1.5719 12.5818 1.88008 12.7597L7.00008 15.7597C7.30411 15.9352 7.649 16.0277 8.00008 16.0277C8.35115 16.0277 8.69604 15.9352 9.00008 15.7597L14.1201 12.7597C14.4283 12.5818 14.6834 12.3249 14.8592 12.0156C15.035 11.7062 15.125 11.3555 15.1201 10.9997V4.99971C15.119 4.65165 15.0271 4.30991 14.8535 4.00825C14.6798 3.7066 14.4305 3.45547 14.1301 3.27971ZM7.73008 14.3797L2.61008 11.3797C2.54095 11.34 2.48167 11.2852 2.43666 11.2194C2.39164 11.1536 2.36205 11.0785 2.35008 10.9997V4.99971C2.3504 4.90601 2.37556 4.81407 2.42299 4.73327C2.47042 4.65246 2.53843 4.58567 2.62008 4.53971L7.74008 1.53971C7.82065 1.49319 7.91204 1.4687 8.00508 1.4687C8.09811 1.4687 8.18951 1.49319 8.27008 1.53971L13.3901 4.53971L8.67008 7.21971C8.45972 7.33976 8.28614 7.51498 8.16806 7.72646C8.04999 7.93793 7.9919 8.17764 8.00008 8.41971V14.4197C7.91475 14.4413 7.8254 14.4413 7.74008 14.4197L7.73008 14.3797Z" fill="black"></path></svg></span>{% when 'external_video' or 'video' %}<span class="sc-gfXuXe cFhzsk"><svg width="11" height="14" viewBox="0 0 11 14" fill="none" xmlns="http://www.w3.org/2000/svg"><path opacity="0.6" d="M1.71795 0.719814C1.56631 0.627985 1.39299 0.578117 1.21573 0.57532C1.03847 0.572523 0.863662 0.616896 0.7092 0.703896C0.554738 0.790895 0.42618 0.917392 0.336696 1.07043C0.247212 1.22346 0.200019 1.39754 0.199951 1.57481V12.3108C0.199976 12.4926 0.249526 12.6708 0.343274 12.8265C0.437022 12.9822 0.571425 13.1094 0.732038 13.1945C0.89265 13.2795 1.0734 13.3191 1.25486 13.3092C1.43632 13.2992 1.61163 13.24 1.76195 13.1378L10.112 7.46081C10.2504 7.36662 10.363 7.23915 10.4394 7.09011C10.5158 6.94107 10.5536 6.77523 10.5492 6.6078C10.5448 6.44038 10.4985 6.27673 10.4144 6.13189C10.3303 5.98704 10.2112 5.86564 10.068 5.77881L1.71795 0.718814V0.719814Z" fill="black"></path></svg></span>{% endcase %}</div>{% endfor %}</div></div></div></div><div data-pf-type="Custom.HTML" class="sc-hmjpVf fuVUXo pf-125_"><div class="product_details_title">
  {{product.metafields.global.product_display_name}}
</div></div><div data-pf-type="Custom.HTML" class="sc-hmjpVf fuVUXo pf-126_"><div product-id="{{ product.id }}" product-handle="{{ product.handle }}" class="alireviews-review-star-rating"></div>

<style>
  #product_form_7455635210429>div>div>div>div.sc-dtMgUX.fmewbM.pf-127_>div>div>div.alr-wh-star-rating-average-number {
    display: none;
  }

  #product_form_7455635210429>div>div>div>div.sc-dtMgUX.fmewbM.pf-127_>div>div>div.alr-wh-star-rating-list:after {
    content: '142 reviews';
    line-height: normal;
    margin-top: -2px;
    margin-left: 2px;
  }

  .alr-wh-star-rating-average-number {
    margin-bottom: 0;
  }

  @media (max-width: 890px) {
    #product_form_7455635210429>div>div>div>div.sc-dtMgUX.fmewbM.pf-127_>div>div{margin-top:6px;}
  }
</style></div><div data-combined="true" data-display="dropdown" data-label="true" data-product-id="{{ product.id }}" style="--g-xs:4px;--g-md:8px" data-sw-id="{% liquid
    assign min = 10000000000
    assign max = 99999999999
    assign diff = max | minus: min
    assign swatches_count = "now" | date: "%N" | modulo: diff | plus: min
  %}sw{{swatches_count}}" class="sc-gLDmcm goGBCE pf-127_ pf-r-ew" data-pf-type="ProductVariantSwatches">
          {% liquid 
              assign options_with_values = product.options_with_values
              assign options = product.options_with_values
              assign selected_variant = product.selected_or_first_available_variant
          %}
      <input type="hidden" name="id" data-product-id="{{product.id}}" value="{{ product.selected_or_first_available_variant.id }}"/>{% unless product.has_only_default_variant %}<select name="sw{{swatches_count}}" data-productid="{{product.id}}" class="pf-variant-select">{% for variant in product.variants %}
                <option 
	                {% if variant.id == selected_variant.id  %}selected{% endif %} 
	                {% unless variant.available  %}disabled{% endunless %} 
                value="{{ variant.id }}">
                    {{ variant.title }} - {% if variant.available != true %}Sold out {% else %} {{ variant.price | money }} {% endif %}
                </option>
            {% endfor %}</select>{% endunless %}</div><div data-pf-type="Block" class="sc-htJRVC dNJAjO pf-130_"><div data-pf-type="ProductPrice2" class="sc-hmvnCu jvqtqw pf-131_ pf-text-1 .product-price"><div data-product-type="price" data-product-id="{{ product.id }}" data-product-price="true" data-pf-type="ProductPrice2Item" class="sc-gsFzgR eIjcJb pf-132_ pf-text-1">{{ product.variants[0].price | money }}</div><div data-product-type="compare_at_price" data-product-id="{{ product.id }}" data-pf-type="ProductPrice2Item" class="sc-gsFzgR eIjcJb pf-133_ pf-text-1">{{ product.variants[0].compare_at_price | money }}</div></div><div data-pf-type="Custom.HTML" class="sc-hmjpVf fuVUXo pf-134_"><style>
  .pdp_discount {
    font-size: 16px;
    background: #387fc3;
    border-radius: 4px;
    margin-top: -20px;
    font-family: "Mikado Regular";
    color: #fff;
    padding: 4px 10px;
    margin: auto 10px;
  }

  @media only screen and (min-width: 1200px) {
    .pdp_discount {
      margin-top: -5px;
    }
  }

@media (max-width: 890px) {
  .pdp_discount {
    font-size: 14px;
    padding: 0px 2px;
    margin: 0;
} 
}
</style>
{% if product.compare_at_price > product.price %}
{%- assign mc = product.compare_at_price | money_without_currency | replace: ',', '' -%}
{%- assign mo = product.price | money_without_currency | replace: ',', '' -%}
{%- assign percent = mc | minus: mo | times: 100.0 | divided_by: mc | round | append: '%' -%}
<div class='pdp_discount'>

  {{ percent }} OFF

</div>
{% endif %}</div></div><div data-pf-type="Custom.HTML" class="sc-hmjpVf fuVUXo pf-135_">{%- if product.metafields.pdp.freegift != blank -%}

<div class="freegift_container">
  {{ product.metafields.pdp.freegift.value }}
</div>

{% endif %}

</div><div data-pf-type="Custom.HTML" class="sc-hmjpVf fuVUXo pf-136_">{% if product.metafields.custom.out_of_stock %}
<button data-product-id="{{ product.id }}"  disabled="true" class="sold-out sold-atcbtn carousel_product-cta hs-event-static sc-hIagIn eigZQd pf-193_ pf-button-1">Sold out</button>
<style>
  .hs-event-static[data-product-id="{{ product.id }}"]:not(.sold-out) {
    display: none;
  }

  .sold-out {
    opacity: 0.5;
  }

  .sold-out:hover {
    background: #ff805a;
    color: #ffffff;
  }
</style>
{% endif %}
{% unless product.metafields.custom.out_of_stock %}
<!-- condition for instock  product --></div><button data-product-id="{{ product.id }}" data-checkout="same" data-soldout="Sold out" data-adding="Adding.." data-added="Thank you!" name="add" type="button" data-pf-type="ProductATC2" class="sc-eSxRXt kUJFYt pf-137_ pf-button-1 carousel_product-cta">Add to cart</button><div data-pf-type="Custom.HTML" class="sc-hmjpVf fuVUXo pf-139_">{% endunless%}
<!-- condition for  In stock  product --></div></div></div></div>{% endform %}{% endif %}</div><script>
				window.__pageflyProducts = window.__pageflyProducts || {};
				window.__pageflyProducts["{{product.id}}"] = {
					id: {{product.id | json }},
					handle: {{product.handle | json }},
					title: {{product.title | json }},
					type: {{product.type | json }},
					url: {{product.url | within: collection  | json }},
					vendor: {{product.vendor | json }},
					variants: {{product.variants | json }},
					options: {{product.options | json }},
					media: {{product.media | json }},
					has_only_default_variant: {{product.has_only_default_variant | json }},
					options_with_values: {{product.options_with_values | json }},
					selected_variant: {{product.selected_variant | json }},
					selected_or_first_available_variant: {{product.selected_or_first_available_variant | json }},
					tags: {{product.tags | json }},
					template_suffix: {{product.template_suffix | json }},
					featured_image: {{product.featured_image | json }},
					featured_media: {{product.featured_media | json }},
					images: {{product.images | json }},
					quantity: {% assign quantity = '' %}{% for variant in product.variants %}{% assign quantity = quantity | append: variant.id | append: ':' | append: variant.inventory_quantity | append: ',' %}{% endfor %}{% assign quantity = quantity | split: ','%}{{quantity | json }}

				};</script></div>{% endfor %}{% endpaginate %}{% assign product = defaultProduct %}</div><p class="sc-ZOtfp cLnRKw pf-140_ pf-text-1 view_all" data-pf-type="Paragraph3"><a href="/collections/bestsellers" target="_self">View all</a></p></div></div></div></div></div><div data-section-id="pf-8e1c" data-pf-type="Section" class="sc-gjNHFA iojfsv pf-142_ pf-color-scheme-1"><div style="--cw:1170px" class="sc-gyElHZ fxaypC"><div class="sc-pVTFL cZzoXH pf-143_ pf-r pf-c-cm pf-r-eh" style="--s-xs:0px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-md:12;--c-lg:12"><div data-pf-type="Column" class="sc-hjGZqJ dfjDDX pf-144_"><div data-pf-type="Custom.HTML" class="sc-hmjpVf fuVUXo pf-145_"><div class='evm-related-viewed-browsing'></div></div></div></div></div></div></div><div data-section-id="pf-fc27" data-pf-type="Section" class="sc-gjNHFA iojfsv pf-146_ pf-color-scheme-1 pf-lg-hide pf-md-hide pf-sm-hide pf-hide"><div style="--cw:1170px" class="sc-gyElHZ fxaypC"><div class="sc-pVTFL cZzoXH pf-147_ pf-r pf-c-cm pf-r-eh" style="--s-xs:0px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-md:12;--c-lg:12"><div data-pf-type="Column" class="sc-hjGZqJ dfjDDX pf-148_"><h2 data-pf-type="Heading" class="sc-TBWPX gKJFzi pf-149_ pf-heading-1-h3"><a data-link="inherit" href="/collections/bestsellers" target="_self"><span data-pf-type="Text" class="sc-bUbRBg Gdkwx pf-151_">Watch &amp; Buy<br></span></a></h2><div data-pf-type="Custom.HTML" class="sc-hmjpVf fuVUXo pf-152_"><div id="quinn-cards-1" class="quinn_cards"></div></div></div></div></div></div></div><div data-section-id="pf-66ba" data-pf-type="Section" class="sc-gjNHFA iojfsv pf-153_ pf-color-scheme-1"><div style="--cw:1170px" class="sc-gyElHZ fxaypC"><div class="sc-pVTFL cZzoXH pf-154_ pf-r pf-c-cm pf-r-eh" style="--s-xs:0px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-md:12;--c-lg:12"><div data-pf-type="Column" class="sc-hjGZqJ dfjDDX pf-155_"><h2 data-pf-type="Heading" class="sc-TBWPX gKJFzi pf-156_ pf-heading-1-h3"><a data-link="inherit" href="/collections/new-launches" target="_self"><span data-pf-type="Text" class="sc-bUbRBg Gdkwx pf-158_">New Launches</span></a></h2><div class="sc-jibziO cFuHFf pf-159_ custom-list pf-r pf-r-ew" style="--s-xs:4px;--s-sm:15px;--s-lg:10px;--ew-xs:2;--ew-md:4" data-pf-type="ProductList">{% assign collection_291497345213 = collections["new-launches"] %}{% assign defaultProduct = product %}{% paginate collection_291497345213.products by 4 %}{% for product in collection_291497345213.products %}<div class="pf-c"><div data-product-id="{{ product.id }}" data-pf-type="ProductBox" id="pf-0ab5c198--copy-of-BestsellerProductDetails" class="sc-kHdrYz gpyAvG pf-160_">{% if product != null %}{% form "product", product, data-productid: product.id, class: "pf-product-form" %}<div class="sc-pVTFL cZzoXH pf-161_ pf-r pf-c-cm pf-r-eh" style="--s-xs:0px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-md:12;--c-lg:12"><div data-pf-type="Column" class="sc-hjGZqJ dfjDDX pf-162_"><div data-product-id="{{ product.id }}" data-media-id="{% liquid
    assign min = 10000000000
    assign max = 99999999999
    assign diff = max | minus: min
    assign number = "now" | date: "%N" | modulo: diff | plus: min
  %}{{number}}" data-pf-type="ProductMedia2" class="sc-kTqLtj eHDBpx pf-163_">
                      {% assign media = product.media %}
                      {% assign featured_media = product.featured_media %}
                      {% assign _product = product %}
                      {% assign first_3d_model = product.media | where: "media_type", "model" | first %}
                  <div class="sc-cfJLRR efntpX   pf-lg-hide-list pf-md-hide-list pf-sm-hide-list pf-xs-hide-list product-media2-inner product-media-loading"><div class="sc-haTkiu kNhtc pmw pf-main-media-wrapper"><div data-pf-type="MediaMain" class="sc-jCHUfY dpoanU pf-164_ pf-main-media" data-href="{{ product.url }}" data-action="url"><div class="sc-hoHwyw gDdOZY">{% if media.size == 0 %}<div class="pf-media-slider scrollfix">{{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}</div>{% else %}<div class="pf-media-slider scrollfix" data-id="slider-b6d93106-275d-4a2a-b436-1781618a1ec6">{% for media_item in media %}<div class="pf-slide-main-media" data-media-type="{{ media_item.media_type }}" data-media-id="{{ media_item.id }}">{% case media_item.media_type %}
                  {% when 'model' %}<div class="pf-media-wrapper" style="--r-lg:100%">{{ media_item | media_tag }}<div class="pf-mask"><span><svg width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg"><path opacity="0.6" d="M14.1301 3.27971L9.00008 0.319707C8.69604 0.144171 8.35115 0.0517578 8.00008 0.0517578C7.649 0.0517578 7.30411 0.144171 7.00008 0.319707L1.88008 3.31971C1.5719 3.49759 1.31675 3.75447 1.14097 4.06385C0.965185 4.37323 0.875124 4.72391 0.880077 5.07971V10.9997C0.875124 11.3555 0.965185 11.7062 1.14097 12.0156C1.31675 12.3249 1.5719 12.5818 1.88008 12.7597L7.00008 15.7597C7.30411 15.9352 7.649 16.0277 8.00008 16.0277C8.35115 16.0277 8.69604 15.9352 9.00008 15.7597L14.1201 12.7597C14.4283 12.5818 14.6834 12.3249 14.8592 12.0156C15.035 11.7062 15.125 11.3555 15.1201 10.9997V4.99971C15.119 4.65165 15.0271 4.30991 14.8535 4.00825C14.6798 3.7066 14.4305 3.45547 14.1301 3.27971ZM7.73008 14.3797L2.61008 11.3797C2.54095 11.34 2.48167 11.2852 2.43666 11.2194C2.39164 11.1536 2.36205 11.0785 2.35008 10.9997V4.99971C2.3504 4.90601 2.37556 4.81407 2.42299 4.73327C2.47042 4.65246 2.53843 4.58567 2.62008 4.53971L7.74008 1.53971C7.82065 1.49319 7.91204 1.4687 8.00508 1.4687C8.09811 1.4687 8.18951 1.49319 8.27008 1.53971L13.3901 4.53971L8.67008 7.21971C8.45972 7.33976 8.28614 7.51498 8.16806 7.72646C8.04999 7.93793 7.9919 8.17764 8.00008 8.41971V14.4197C7.91475 14.4413 7.8254 14.4413 7.74008 14.4197L7.73008 14.3797Z" fill="black"></path></svg></span></div></div>{% when 'external_video' %}<div class="pf-media-wrapper" data-video-host="{{ media_item.host }}" style="--r-lg:100%">{{ media_item | media_tag }}<div class="pf-mask-iframe" data-play="false"></div></div>{% when 'video' %}<div class="pf-media-wrapper" style="--r-lg:100%">{{ media_item | media_tag }}</div>{% else %}<img loading="eager" class="sc-lheXJl fbmLls active" data-action="1" alt="{{ media_item.alt }}" width="{{ media_item.width }}" height="{{ media_item.height }}" src="{{ media_item | image_url }}"/>{% endcase %}</div>{% endfor %} </div>{% endif %}</div></div></div><div class="sc-bLdqUH eFsMta pf-165_ pf-list-media pf-hide pf-sm-hide pf-md-hide pf-lg-hide" data-pf-type="MediaList2"><div class="pf-media-slider scrollfix " style="--dpi-xs:0%;--gap-xs:10px" data-id="slider-d9310627-5d6a-4af4-b617-81618a1ec66f">{% for media_item in media %}
              {% assign media_type = media_item.media_type %}<div class="sc-leSONj hruEcy pf-166_ pf-slide-list-media" data-img-id="{{ media_item.id }}" data-media-type="{{ media_item.media_type }}" data-pf-type="MediaListItem2"><img src="{{ media_item | img_url: "xundefined", scale: 2 }}" alt="{{ media_item.alt }}" loading="eager"/>{% case media_type %}
            {% when 'model' %}<span class="sc-gfXuXe cFhzsk"><svg width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg"><path opacity="0.6" d="M14.1301 3.27971L9.00008 0.319707C8.69604 0.144171 8.35115 0.0517578 8.00008 0.0517578C7.649 0.0517578 7.30411 0.144171 7.00008 0.319707L1.88008 3.31971C1.5719 3.49759 1.31675 3.75447 1.14097 4.06385C0.965185 4.37323 0.875124 4.72391 0.880077 5.07971V10.9997C0.875124 11.3555 0.965185 11.7062 1.14097 12.0156C1.31675 12.3249 1.5719 12.5818 1.88008 12.7597L7.00008 15.7597C7.30411 15.9352 7.649 16.0277 8.00008 16.0277C8.35115 16.0277 8.69604 15.9352 9.00008 15.7597L14.1201 12.7597C14.4283 12.5818 14.6834 12.3249 14.8592 12.0156C15.035 11.7062 15.125 11.3555 15.1201 10.9997V4.99971C15.119 4.65165 15.0271 4.30991 14.8535 4.00825C14.6798 3.7066 14.4305 3.45547 14.1301 3.27971ZM7.73008 14.3797L2.61008 11.3797C2.54095 11.34 2.48167 11.2852 2.43666 11.2194C2.39164 11.1536 2.36205 11.0785 2.35008 10.9997V4.99971C2.3504 4.90601 2.37556 4.81407 2.42299 4.73327C2.47042 4.65246 2.53843 4.58567 2.62008 4.53971L7.74008 1.53971C7.82065 1.49319 7.91204 1.4687 8.00508 1.4687C8.09811 1.4687 8.18951 1.49319 8.27008 1.53971L13.3901 4.53971L8.67008 7.21971C8.45972 7.33976 8.28614 7.51498 8.16806 7.72646C8.04999 7.93793 7.9919 8.17764 8.00008 8.41971V14.4197C7.91475 14.4413 7.8254 14.4413 7.74008 14.4197L7.73008 14.3797Z" fill="black"></path></svg></span>{% when 'external_video' or 'video' %}<span class="sc-gfXuXe cFhzsk"><svg width="11" height="14" viewBox="0 0 11 14" fill="none" xmlns="http://www.w3.org/2000/svg"><path opacity="0.6" d="M1.71795 0.719814C1.56631 0.627985 1.39299 0.578117 1.21573 0.57532C1.03847 0.572523 0.863662 0.616896 0.7092 0.703896C0.554738 0.790895 0.42618 0.917392 0.336696 1.07043C0.247212 1.22346 0.200019 1.39754 0.199951 1.57481V12.3108C0.199976 12.4926 0.249526 12.6708 0.343274 12.8265C0.437022 12.9822 0.571425 13.1094 0.732038 13.1945C0.89265 13.2795 1.0734 13.3191 1.25486 13.3092C1.43632 13.2992 1.61163 13.24 1.76195 13.1378L10.112 7.46081C10.2504 7.36662 10.363 7.23915 10.4394 7.09011C10.5158 6.94107 10.5536 6.77523 10.5492 6.6078C10.5448 6.44038 10.4985 6.27673 10.4144 6.13189C10.3303 5.98704 10.2112 5.86564 10.068 5.77881L1.71795 0.718814V0.719814Z" fill="black"></path></svg></span>{% endcase %}</div>{% endfor %}</div></div></div></div><div data-pf-type="Custom.HTML" class="sc-hmjpVf fuVUXo pf-168_"><div class="product_details_title">
  {{product.metafields.global.product_display_name}}
</div></div><div data-pf-type="Custom.HTML" class="sc-hmjpVf fuVUXo pf-169_"><div product-id="{{ product.id }}" product-handle="{{ product.handle }}" class="alireviews-review-star-rating"></div>

<style>
  #product_form_7455635210429>div>div>div>div.sc-dtMgUX.fmewbM.pf-127_>div>div>div.alr-wh-star-rating-average-number {
    display: none;
  }

  #product_form_7455635210429>div>div>div>div.sc-dtMgUX.fmewbM.pf-127_>div>div>div.alr-wh-star-rating-list:after {
    content: '142 reviews';
    line-height: normal;
    margin-top: -2px;
    margin-left: 2px;
  }

  .alr-wh-star-rating-average-number {
    margin-bottom: 0;
  }

  @media (max-width: 890px) {
    #product_form_7455635210429>div>div>div>div.sc-dtMgUX.fmewbM.pf-127_>div>div{margin-top:6px;}
  }
</style></div><div data-combined="true" data-display="dropdown" data-label="true" data-product-id="{{ product.id }}" style="--g-xs:4px;--g-md:8px" data-sw-id="{% liquid
    assign min = 10000000000
    assign max = 99999999999
    assign diff = max | minus: min
    assign swatches_count = "now" | date: "%N" | modulo: diff | plus: min
  %}sw{{swatches_count}}" class="sc-gLDmcm goGBCE pf-170_ pf-r-ew" data-pf-type="ProductVariantSwatches">
          {% liquid 
              assign options_with_values = product.options_with_values
              assign options = product.options_with_values
              assign selected_variant = product.selected_or_first_available_variant
          %}
      <input type="hidden" name="id" data-product-id="{{product.id}}" value="{{ product.selected_or_first_available_variant.id }}"/>{% unless product.has_only_default_variant %}<select name="sw{{swatches_count}}" data-productid="{{product.id}}" class="pf-variant-select">{% for variant in product.variants %}
                <option 
	                {% if variant.id == selected_variant.id  %}selected{% endif %} 
	                {% unless variant.available  %}disabled{% endunless %} 
                value="{{ variant.id }}">
                    {{ variant.title }} - {% if variant.available != true %}Sold out {% else %} {{ variant.price | money }} {% endif %}
                </option>
            {% endfor %}</select>{% endunless %}</div><div data-pf-type="Block" class="sc-htJRVC dNJAjO pf-173_"><div data-pf-type="ProductPrice2" class="sc-hmvnCu jvqtqw pf-174_ pf-text-1 .product-price"><div data-product-type="price" data-product-id="{{ product.id }}" data-product-price="true" data-pf-type="ProductPrice2Item" class="sc-gsFzgR eIjcJb pf-175_ pf-text-1">{{ product.variants[0].price | money }}</div><div data-product-type="compare_at_price" data-product-id="{{ product.id }}" data-pf-type="ProductPrice2Item" class="sc-gsFzgR eIjcJb pf-176_ pf-text-1">{{ product.variants[0].compare_at_price | money }}</div></div><div data-pf-type="Custom.HTML" class="sc-hmjpVf fuVUXo pf-177_"><style>
  .pdp_discount {
    font-size: 16px;
    background: #387fc3;
    border-radius: 4px;
    margin-top: -20px;
    font-family: "Mikado Regular";
    color: #fff;
    padding: 4px 10px;
    margin: auto 10px;
  }

  @media only screen and (min-width: 1200px) {
    .pdp_discount {
      margin-top: -5px;
    }
  }

@media (max-width: 890px) {
  .pdp_discount {
    font-size: 14px;
    padding: 0px 2px;
    margin: 0;
} 
}
</style>
{% if product.compare_at_price > product.price %}
{%- assign mc = product.compare_at_price | money_without_currency | replace: ',', '' -%}
{%- assign mo = product.price | money_without_currency | replace: ',', '' -%}
{%- assign percent = mc | minus: mo | times: 100.0 | divided_by: mc | round | append: '%' -%}
<div class='pdp_discount'>

  {{ percent }} OFF

</div>
{% endif %}</div></div><div data-pf-type="Custom.HTML" class="sc-hmjpVf fuVUXo pf-178_">{%- if product.metafields.pdp.freegift != blank -%}

<div class="freegift_container">
  {{ product.metafields.pdp.freegift.value }}
</div>

{% endif %}

</div><div data-pf-type="Custom.HTML" class="sc-hmjpVf fuVUXo pf-179_">{% if product.metafields.custom.out_of_stock %}
<button data-product-id="{{ product.id }}"  disabled="true" class="sold-out sold-atcbtn carousel_product-cta hs-event-static sc-hIagIn eigZQd pf-193_ pf-button-1">Sold out</button>
<style>
  .hs-event-static[data-product-id="{{ product.id }}"]:not(.sold-out) {
    display: none;
  }

  .sold-out {
    opacity: 0.5;
  }

  .sold-out:hover {
    background: #ff805a;
    color: #ffffff;
  }
</style>
{% endif %}
{% unless product.metafields.custom.out_of_stock %}
<!-- condition for instock  product --></div><button data-product-id="{{ product.id }}" data-checkout="same" data-soldout="Sold out" data-adding="Adding.." data-added="Thank you!" name="add" type="button" data-pf-type="ProductATC2" class="sc-eSxRXt kUJFYt pf-180_ pf-button-1 carousel_product-cta">Add to cart</button><div data-pf-type="Custom.HTML" class="sc-hmjpVf fuVUXo pf-182_">{% endunless%}
<!-- condition for  In stock  product --></div></div></div></div>{% endform %}{% endif %}</div><script>
				window.__pageflyProducts = window.__pageflyProducts || {};
				window.__pageflyProducts["{{product.id}}"] = {
					id: {{product.id | json }},
					handle: {{product.handle | json }},
					title: {{product.title | json }},
					type: {{product.type | json }},
					url: {{product.url | within: collection  | json }},
					vendor: {{product.vendor | json }},
					variants: {{product.variants | json }},
					options: {{product.options | json }},
					media: {{product.media | json }},
					has_only_default_variant: {{product.has_only_default_variant | json }},
					options_with_values: {{product.options_with_values | json }},
					selected_variant: {{product.selected_variant | json }},
					selected_or_first_available_variant: {{product.selected_or_first_available_variant | json }},
					tags: {{product.tags | json }},
					template_suffix: {{product.template_suffix | json }},
					featured_image: {{product.featured_image | json }},
					featured_media: {{product.featured_media | json }},
					images: {{product.images | json }},
					quantity: {% assign quantity = '' %}{% for variant in product.variants %}{% assign quantity = quantity | append: variant.id | append: ':' | append: variant.inventory_quantity | append: ',' %}{% endfor %}{% assign quantity = quantity | split: ','%}{{quantity | json }}

				};</script></div>{% endfor %}{% endpaginate %}{% assign product = defaultProduct %}</div><div data-pf-type="Slideshow" class="sc-jrQzAO cJbgbu pf-183_ new_launches_carousel pf-lg-hide pf-md-hide pf-sm-hide pf-hide"><div data-id="slider-134608a8-8ce0-47f7-a025-e2cd4bcfd36f-all" class="pf-slider scrollfix"><div class="pf-slide"><div style="display:block" class="sc-kqnjJL KWNSI pf-184_" data-href="https://skillmatics.in/products/magnetic-match-letters-numbers-animals-magnetic-matching-activity-ages-3-6?utm_campaign=Homepage%20Banner%20Carousel&utm_medium=Homepage%20Banner&utm_source=Homepage&utm_content=Banner_NewLaunch_Magneticletters" data-target="_self" data-pf-type="SlideshowSlide"><div class="sc-pVTFL cZzoXH pf-185_ pf-r pf-r-eh" style="--s-xs:0px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-md:12;--c-lg:12"><div data-pf-type="Column" class="sc-hjGZqJ dfjDDX pf-186_"><img src="https://cdn.shopify.com/s/files/1/0568/1945/0045/files/Frame_3_4.webp?v=1715086689" width="2732" height="556" alt="Frame 3 (4).webp__PID:224757e2-c7b1-4757-9c5c-31c6519171ba" data-pf-type="Image3" class="sc-kYHfwS QlfnY pf-187_ pf-image-1 pf-hide"/><img src="https://cdn.shopify.com/s/files/1/0568/1945/0045/files/Frame_4_e480914d-aaea-4cc3-9acc-93cb2d7468b3.webp?v=1715086689" width="1440" height="856" alt="Frame 4.webp__PID:4757e2c7-b1b7-475c-9c31-c6519171ba20" data-pf-type="Image3" class="sc-kYHfwS QlfnY pf-188_ pf-image-1 pf-lg-hide pf-md-hide pf-sm-hide"/></div></div></div></div></div><div class="pf-slide"><div style="display:block" class="sc-kqnjJL KWNSI pf-189_" data-href="https://skillmatics.in/products/science-snippets-kit-all-about-space-ages-7-copy?utm_campaign=Homepage%20Banner%20Carousel&utm_medium=Homepage%20Banner&utm_source=Homepage&utm_content=Banner_NewLaunch_ScienceSnippetsAnimals" data-target="_self" data-pf-type="SlideshowSlide"><div class="sc-pVTFL cZzoXH pf-190_ pf-r pf-r-eh" style="--s-xs:0px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-md:12;--c-lg:12"><div data-pf-type="Column" class="sc-hjGZqJ dfjDDX pf-191_"><img src="https://cdn.shopify.com/s/files/1/0568/1945/0045/files/Frame_5.webp?v=1715086689" width="2732" height="556" alt="Frame 5.webp__PID:57e2c7b1-b757-4c5c-b1c6-519171ba2045" data-pf-type="Image3" class="sc-kYHfwS QlfnY pf-192_ pf-image-1 pf-hide"/><img src="https://cdn.shopify.com/s/files/1/0568/1945/0045/files/Frame_6.webp?v=1715086689" width="1440" height="856" alt="Frame 6.webp__PID:e2c7b1b7-575c-4c31-8651-9171ba204535" data-pf-type="Image3" class="sc-kYHfwS QlfnY pf-193_ pf-image-1 pf-lg-hide pf-md-hide pf-sm-hide"/></div></div></div></div></div><div class="pf-slide"><div style="display:block" class="sc-kqnjJL KWNSI pf-194_" data-href="https://skillmatics.in/products/dot-it-disney-princesses-no-mess-sticker-art-ages-3-7?utm_campaign=Homepage Banner Carousel&utm_medium=Homepage Banner&utm_source=Homepage&utm_content=Banner_NewLaunch_Dotitdisney" data-target="_self" data-pf-type="SlideshowSlide"><div class="sc-pVTFL cZzoXH pf-195_ pf-r pf-r-eh" style="--s-xs:0px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-md:12;--c-lg:12"><div data-pf-type="Column" class="sc-hjGZqJ dfjDDX pf-196_"><img src="https://cdn.shopify.com/s/files/1/0568/1945/0045/files/Frame_10.webp?v=1715086689" width="2732" height="556" alt="Frame 10.webp__PID:b1b7575c-5c31-4651-9171-ba204535165e" data-pf-type="Image3" class="sc-kYHfwS QlfnY pf-197_ pf-image-1 pf-hide"/><img src="https://cdn.shopify.com/s/files/1/0568/1945/0045/files/Frame_9.webp?v=1715086689" width="1440" height="856" alt="Frame 9.webp__PID:c7b1b757-5c5c-41c6-9191-71ba20453516" data-pf-type="Image3" class="sc-kYHfwS QlfnY pf-198_ pf-image-1 pf-lg-hide pf-md-hide pf-sm-hide"/></div></div></div></div></div><div class="pf-slide"><div style="display:block" class="sc-kqnjJL KWNSI pf-199_" data-href="https://skillmatics.in/products/rock-painting-kit-mess-free-art-craft-activity-ages-4-12?utm_campaign=Homepage%20Banner%20Carousel&utm_medium=Homepage%20Banner&utm_source=Homepage&utm_content=Banner_NewLaunch_RockPainting" data-target="_self" data-pf-type="SlideshowSlide"><div class="sc-pVTFL cZzoXH pf-200_ pf-r pf-r-eh" style="--s-xs:0px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-md:12;--c-lg:12"><div data-pf-type="Column" class="sc-hjGZqJ dfjDDX pf-201_"><img src="https://cdn.shopify.com/s/files/1/0568/1945/0045/files/Frame_1_1.webp?v=1715086689" width="2732" height="556" alt="Frame 1 (1).webp__PID:9bdd2247-57e2-47b1-b757-5c5c31c65191" data-pf-type="Image3" class="sc-kYHfwS QlfnY pf-202_ pf-image-1 pf-hide"/><img src="https://cdn.shopify.com/s/files/1/0568/1945/0045/files/Frame_2_1.webp?v=1715086689" width="1440" height="856" alt="Frame 2 (1).webp__PID:dd224757-e2c7-41b7-975c-5c31c6519171" data-pf-type="Image3" class="sc-kYHfwS QlfnY pf-203_ pf-image-1 pf-lg-hide pf-md-hide pf-sm-hide"/></div></div></div></div></div><button type="button" style="visibility:hidden" aria-label="Previous" class="pf-slider-prev none hide"></button><button type="button" style="visibility:hidden" aria-label="Next" class="pf-slider-next none hide"></button><div class="pf-slider-nav pagination-style-2"></div></div></div><p class="sc-ZOtfp cLnRKw pf-204_ pf-text-1 view_all" data-pf-type="Paragraph3"><a href="/collections/new-launches" target="_self">View all</a></p></div></div></div></div></div><div data-section-id="pf-5725" data-pf-type="Section" class="sc-gjNHFA iojfsv pf-206_ pf-color-scheme-1 pf-lg-hide pf-md-hide pf-sm-hide pf-hide"><div style="--cw:1170px" class="sc-gyElHZ fxaypC"><div class="sc-pVTFL cZzoXH pf-207_ pf-r pf-c-cm pf-r-eh" style="--s-xs:0px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-md:12;--c-lg:12"><div data-pf-type="Column" class="sc-hjGZqJ dfjDDX pf-208_"><h2 data-pf-type="Heading" class="sc-TBWPX gKJFzi pf-209_ pf-heading-1-h3"><a data-link="inherit" href="/collections/bestsellers" target="_self"><span data-pf-type="Text" class="sc-bUbRBg Gdkwx pf-211_">Loved By Moms</span></a></h2><div data-pf-type="Custom.HTML" class="sc-hmjpVf fuVUXo pf-212_"><div id="quinn-cards-2" class="quinn_cards"></div></div></div></div></div></div></div><div data-section-id="pf-e8f4" data-pf-type="Section" class="sc-gjNHFA iojfsv pf-213_ pf-color-scheme-1"><div class="sc-gyElHZ fxaypC"><div class="sc-pVTFL cZzoXH pf-214_ pf-r pf-c-cm pf-r-eh" style="--s-xs:10px;--s-sm:0px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-md:12;--c-lg:12"><div data-pf-type="Column" class="sc-hjGZqJ dfjDDX pf-215_"><h3 data-pf-type="Heading" class="sc-TBWPX gKJFzi pf-216_ pf-heading-1-h3 pf-sm-hide pf-hide"><span data-pf-type="Text" class="sc-bUbRBg Gdkwx pf-218_">Over <u>1 crore</u>&nbsp;happy families</span></h3><div data-pf-type="Custom.HTML" class="sc-hmjpVf fuVUXo pf-219_"><script type="application/ld+json">
  {
  "@context": "https://schema.org",
  "@type": "Organization",
  "name": "Skillmatics",
  "url": "https://skillmatics.in/",
  "logo": "https://www.skillmatics.in/cdn/shop/files/Skillmatics_Logo_RGB_Skillmatics_Logo_Horizontal_NewBlue_1d81c4_1_140x.webp?v=1690276402",
  "sameAs": [
    "https://www.facebook.com/skillmaticsworld",
    "https://www.instagram.com/skillmaticsindia/",
    "https://twitter.com/MySkillmatics"
  ],
  "contactPoint": [
    {
      "@type": "ContactPoint",
      "telephone": "+91-9152331018",
      "contactType": "customer service",
      "email": "help@skillmaticsworld.com"
    }
  ]
}
</script></div><h3 data-pf-type="Heading" class="sc-TBWPX gKJFzi pf-220_ pf-heading-1-h3 pf-lg-hide pf-md-hide"><span data-pf-type="Text" class="sc-bUbRBg Gdkwx pf-222_">Over <u>1 crore</u><br>happy families</span></h3></div></div></div><div class="sc-pVTFL cZzoXH pf-223_ pf-r pf-c-cm pf-r-eh" style="--s-xs:0px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-md:12;--c-lg:12"><div data-pf-type="Column" class="sc-hjGZqJ dfjDDX pf-224_"><div data-slider="{'slidesToShow':{'all':2,'laptop':2,'tablet':1,'mobile':1},'slidesToScroll':{'all':1,'laptop':2,'tablet':1,'mobile':1},'loop':false,'autoPlay':false,'autoPlayDelay':3000,'pauseOnHover':false,'maxHeight':true,'id':'1545cf87-5e26-4900-87a8-edbbe5c6d6d4'}" class="sc-crHmcD sc-egiyK dSSHyU kJQzOM pf-225_ glider-n-1 " style="visibility:hidden;height:250.265625px;opacity:0" data-pf-type="Slider2"><div class="glider" style="--g-xs:15px"><div class="glide-wrapper"><div style="height:100%" class="sc-bqiRlB sc-ksdxgE dlncOu kgnlsM pf-226_ pf-c-cm" data-pf-type="Slide2"><div class="glide-container"><div class="sc-pVTFL cZzoXH pf-227_ pf-r pf-c-cm pf-r-eh" style="--s-xs:0px;--s-sm:15px;--s-md:0px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-sm:4;--c-md:5;--c-lg:6"><div data-pf-type="Column" class="sc-hjGZqJ dfjDDX pf-228_"><div data-pf-type="Image" class="sc-hOGkXu dpYkYs pf-229_ pf-image-1"><img src="https://cdn.shopify.com/s/files/1/0568/1945/0045/files/1.webp?v=1691496620" width="472" height="473" alt="Ravi's sonn"/></div></div></div><div class="pf-c" style="--c-xs:12;--c-sm:8;--c-md:7;--c-lg:6"><div data-pf-type="Column" class="sc-hjGZqJ dfjDDX pf-230_"><div data-pf-type="Custom.HTML" class="sc-hmjpVf fuVUXo pf-231_"><svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24"><path d="M12 .587l3.668 7.568 8.332 1.151-6.064 5.828 1.48 8.279-7.416-3.967-7.417 3.967 1.481-8.279-6.064-5.828 8.332-1.151z"/></svg>
<svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24"><path d="M12 .587l3.668 7.568 8.332 1.151-6.064 5.828 1.48 8.279-7.416-3.967-7.417 3.967 1.481-8.279-6.064-5.828 8.332-1.151z"/></svg>
<svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24"><path d="M12 .587l3.668 7.568 8.332 1.151-6.064 5.828 1.48 8.279-7.416-3.967-7.417 3.967 1.481-8.279-6.064-5.828 8.332-1.151z"/></svg>
<svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24"><path d="M12 .587l3.668 7.568 8.332 1.151-6.064 5.828 1.48 8.279-7.416-3.967-7.417 3.967 1.481-8.279-6.064-5.828 8.332-1.151z"/></svg>
<svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24"><path d="M12 .587l3.668 7.568 8.332 1.151-6.064 5.828 1.48 8.279-7.416-3.967-7.417 3.967 1.481-8.279-6.064-5.828 8.332-1.151z"/></svg></div><p class="sc-dwsnSq jqylDz pf-232_ pf-text-1" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-bUbRBg Gdkwx pf-234_">My son just started playing peek-a-boo, so I got him this book. He loves it! He loves discovering the hiding animal on each page, then hiding them again.</span></p><p class="sc-dwsnSq jqylDz pf-235_ pf-text-1" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-bUbRBg Gdkwx pf-237_"> Ravi</span></p></div></div></div></div></div></div><div class="glide-wrapper"><div style="height:100%" class="sc-bqiRlB sc-ksdxgE dlncOu kgnlsM pf-238_ pf-c-cm" data-pf-type="Slide2"><div class="glide-container"><div class="sc-pVTFL cZzoXH pf-239_ pf-r pf-c-cm pf-r-eh" style="--s-xs:0px;--s-sm:15px;--s-md:0px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-sm:4;--c-md:5;--c-lg:6"><div data-pf-type="Column" class="sc-hjGZqJ dfjDDX pf-240_"><div data-pf-type="Image" class="sc-hOGkXu dpYkYs pf-241_ pf-image-1"><img src="https://cdn.shopify.com/s/files/1/0568/1945/0045/files/2.webp?v=1691496620" width="472" height="472" alt="girl with magnetic board"/></div></div></div><div class="pf-c" style="--c-xs:12;--c-sm:8;--c-md:7;--c-lg:6"><div data-pf-type="Column" class="sc-hjGZqJ dfjDDX pf-242_"><div data-pf-type="Custom.HTML" class="sc-hmjpVf fuVUXo pf-243_"><svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24"><path d="M12 .587l3.668 7.568 8.332 1.151-6.064 5.828 1.48 8.279-7.416-3.967-7.417 3.967 1.481-8.279-6.064-5.828 8.332-1.151z"/></svg>
<svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24"><path d="M12 .587l3.668 7.568 8.332 1.151-6.064 5.828 1.48 8.279-7.416-3.967-7.417 3.967 1.481-8.279-6.064-5.828 8.332-1.151z"/></svg>
<svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24"><path d="M12 .587l3.668 7.568 8.332 1.151-6.064 5.828 1.48 8.279-7.416-3.967-7.417 3.967 1.481-8.279-6.064-5.828 8.332-1.151z"/></svg>
<svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24"><path d="M12 .587l3.668 7.568 8.332 1.151-6.064 5.828 1.48 8.279-7.416-3.967-7.417 3.967 1.481-8.279-6.064-5.828 8.332-1.151z"/></svg>
<svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24"><path d="M12 .587l3.668 7.568 8.332 1.151-6.064 5.828 1.48 8.279-7.416-3.967-7.417 3.967 1.481-8.279-6.064-5.828 8.332-1.151z"/></svg></div><p class="sc-dwsnSq jqylDz pf-244_ pf-text-1" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-bUbRBg Gdkwx pf-246_">This is a great way to teach hand eye coordination for little ones prior to starting school. The best bit for her was the blank magnetic board.</span></p><p class="sc-dwsnSq jqylDz pf-247_ pf-text-1" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-bUbRBg Gdkwx pf-249_"> Tiara</span></p></div></div></div></div></div></div><div class="glide-wrapper"><div style="height:100%" class="sc-bqiRlB sc-ksdxgE dlncOu kgnlsM pf-250_ pf-c-cm" data-pf-type="Slide2"><div class="glide-container"><div class="sc-pVTFL cZzoXH pf-251_ pf-r pf-c-cm pf-r-eh" style="--s-xs:0px;--s-sm:15px;--s-md:0px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-sm:4;--c-md:5;--c-lg:6"><div data-pf-type="Column" class="sc-hjGZqJ dfjDDX pf-252_"><div data-pf-type="Image" class="sc-hOGkXu dpYkYs pf-253_ pf-image-1"><img src="https://cdn.shopify.com/s/files/1/0568/1945/0045/files/3.webp?v=1691496620" width="472" height="472" alt="Boy with puzzle"/></div></div></div><div class="pf-c" style="--c-xs:12;--c-sm:8;--c-md:7;--c-lg:6"><div data-pf-type="Column" class="sc-hjGZqJ dfjDDX pf-254_"><div data-pf-type="Custom.HTML" class="sc-hmjpVf fuVUXo pf-255_"><svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24"><path d="M12 .587l3.668 7.568 8.332 1.151-6.064 5.828 1.48 8.279-7.416-3.967-7.417 3.967 1.481-8.279-6.064-5.828 8.332-1.151z"/></svg>
<svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24"><path d="M12 .587l3.668 7.568 8.332 1.151-6.064 5.828 1.48 8.279-7.416-3.967-7.417 3.967 1.481-8.279-6.064-5.828 8.332-1.151z"/></svg>
<svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24"><path d="M12 .587l3.668 7.568 8.332 1.151-6.064 5.828 1.48 8.279-7.416-3.967-7.417 3.967 1.481-8.279-6.064-5.828 8.332-1.151z"/></svg>
<svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24"><path d="M12 .587l3.668 7.568 8.332 1.151-6.064 5.828 1.48 8.279-7.416-3.967-7.417 3.967 1.481-8.279-6.064-5.828 8.332-1.151z"/></svg>
<svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24"><path d="M12 .587l3.668 7.568 8.332 1.151-6.064 5.828 1.48 8.279-7.416-3.967-7.417 3.967 1.481-8.279-6.064-5.828 8.332-1.151z"/></svg></div><p class="sc-dwsnSq jqylDz pf-256_ pf-text-1" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-bUbRBg Gdkwx pf-258_"> This is a great puzzle set for families with kids of multiple ages!Nice, colorful, giant puzzle pieces. It gets my kids off of screens and into something educational.</span></p><p class="sc-dwsnSq jqylDz pf-259_ pf-text-1" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-bUbRBg Gdkwx pf-261_"> Rashmi</span></p></div></div></div></div></div></div><div class="glide-wrapper"><div style="height:100%" class="sc-bqiRlB sc-ksdxgE dlncOu kgnlsM pf-262_ pf-c-cm" data-pf-type="Slide2"><div class="glide-container"><div class="sc-pVTFL cZzoXH pf-263_ pf-r pf-c-cm pf-r-eh" style="--s-xs:0px;--s-sm:15px;--s-md:0px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-sm:4;--c-md:5;--c-lg:6"><div data-pf-type="Column" class="sc-hjGZqJ dfjDDX pf-264_"><div data-pf-type="Image" class="sc-hOGkXu dpYkYs pf-265_ pf-image-1"><img src="https://cdn.shopify.com/s/files/1/0568/1945/0045/files/4.webp?v=1691496621" width="472" height="472" alt="boy with paintiing"/></div></div></div><div class="pf-c" style="--c-xs:12;--c-sm:8;--c-md:7;--c-lg:6"><div data-pf-type="Column" class="sc-hjGZqJ dfjDDX pf-266_"><div data-pf-type="Custom.HTML" class="sc-hmjpVf fuVUXo pf-267_"><svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24"><path d="M12 .587l3.668 7.568 8.332 1.151-6.064 5.828 1.48 8.279-7.416-3.967-7.417 3.967 1.481-8.279-6.064-5.828 8.332-1.151z"/></svg>
<svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24"><path d="M12 .587l3.668 7.568 8.332 1.151-6.064 5.828 1.48 8.279-7.416-3.967-7.417 3.967 1.481-8.279-6.064-5.828 8.332-1.151z"/></svg>
<svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24"><path d="M12 .587l3.668 7.568 8.332 1.151-6.064 5.828 1.48 8.279-7.416-3.967-7.417 3.967 1.481-8.279-6.064-5.828 8.332-1.151z"/></svg>
<svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24"><path d="M12 .587l3.668 7.568 8.332 1.151-6.064 5.828 1.48 8.279-7.416-3.967-7.417 3.967 1.481-8.279-6.064-5.828 8.332-1.151z"/></svg>
<svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24"><path d="M12 .587l3.668 7.568 8.332 1.151-6.064 5.828 1.48 8.279-7.416-3.967-7.417 3.967 1.481-8.279-6.064-5.828 8.332-1.151z"/></svg></div><p class="sc-dwsnSq jqylDz pf-268_ pf-text-1" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-bUbRBg Gdkwx pf-270_">My son had fun planning the scenes and choosing the shiny colors and I really appreciate that there is no glue or paint. The outcome is so nice that its now in every room in our house</span></p><p class="sc-dwsnSq jqylDz pf-271_ pf-text-1" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-bUbRBg Gdkwx pf-273_"> Kinjal</span></p></div></div></div></div></div></div><div class="glide-wrapper"><div style="height:100%" class="sc-bqiRlB sc-ksdxgE dlncOu kgnlsM pf-274_ pf-c-cm" data-pf-type="Slide2"><div class="glide-container"><div class="sc-pVTFL cZzoXH pf-275_ pf-r pf-c-cm pf-r-eh" style="--s-xs:0px;--s-sm:15px;--s-md:0px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-sm:4;--c-md:5;--c-lg:6"><div data-pf-type="Column" class="sc-hjGZqJ dfjDDX pf-276_"><div data-pf-type="Image" class="sc-hOGkXu dpYkYs pf-277_ pf-image-1"><img src="https://cdn.shopify.com/s/files/1/0568/1945/0045/files/5.webp?v=1691496620" width="472" height="472" alt="Girl and mom "/></div></div></div><div class="pf-c" style="--c-xs:12;--c-sm:8;--c-md:7;--c-lg:6"><div data-pf-type="Column" class="sc-hjGZqJ dfjDDX pf-278_"><div data-pf-type="Custom.HTML" class="sc-hmjpVf fuVUXo pf-279_"><svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24"><path d="M12 .587l3.668 7.568 8.332 1.151-6.064 5.828 1.48 8.279-7.416-3.967-7.417 3.967 1.481-8.279-6.064-5.828 8.332-1.151z"/></svg>
<svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24"><path d="M12 .587l3.668 7.568 8.332 1.151-6.064 5.828 1.48 8.279-7.416-3.967-7.417 3.967 1.481-8.279-6.064-5.828 8.332-1.151z"/></svg>
<svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24"><path d="M12 .587l3.668 7.568 8.332 1.151-6.064 5.828 1.48 8.279-7.416-3.967-7.417 3.967 1.481-8.279-6.064-5.828 8.332-1.151z"/></svg>
<svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24"><path d="M12 .587l3.668 7.568 8.332 1.151-6.064 5.828 1.48 8.279-7.416-3.967-7.417 3.967 1.481-8.279-6.064-5.828 8.332-1.151z"/></svg>
<svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24"><path d="M12 .587l3.668 7.568 8.332 1.151-6.064 5.828 1.48 8.279-7.416-3.967-7.417 3.967 1.481-8.279-6.064-5.828 8.332-1.151z"/></svg></div><p class="sc-dwsnSq jqylDz pf-280_ pf-text-1" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-bUbRBg Gdkwx pf-282_">The flashcards are thick &amp; durable with both patterns and symbols. My 2 months old daughter is fascinated by them. It's definitely her favorite so far and keeps her attention really well.</span></p><p class="sc-dwsnSq jqylDz pf-283_ pf-text-1" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-bUbRBg Gdkwx pf-285_"> Shweta</span></p></div></div></div></div></div></div><div class="glide-wrapper"><div style="height:100%" class="sc-bqiRlB sc-ksdxgE dlncOu kgnlsM pf-286_ pf-c-cm" data-pf-type="Slide2"><div class="glide-container"><div class="sc-pVTFL cZzoXH pf-287_ pf-r pf-c-cm pf-r-eh" style="--s-xs:0px;--s-sm:15px;--s-md:0px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-sm:6;--c-md:5;--c-lg:6"><div data-pf-type="Column" class="sc-hjGZqJ dfjDDX pf-288_"><div data-pf-type="Image" class="sc-hOGkXu dpYkYs pf-289_ pf-image-1"><img src="https://cdn.shopify.com/s/files/1/0568/1945/0045/t/50/assets/4-1670815881531.webp?v=1670815882" width="473" height="472" alt="Boy with two painting"/></div></div></div><div class="pf-c" style="--c-xs:12;--c-sm:6;--c-md:7;--c-lg:6"><div data-pf-type="Column" class="sc-hjGZqJ dfjDDX pf-290_"><div data-pf-type="Custom.HTML" class="sc-hmjpVf fuVUXo pf-291_"><svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24"><path d="M12 .587l3.668 7.568 8.332 1.151-6.064 5.828 1.48 8.279-7.416-3.967-7.417 3.967 1.481-8.279-6.064-5.828 8.332-1.151z"/></svg>
<svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24"><path d="M12 .587l3.668 7.568 8.332 1.151-6.064 5.828 1.48 8.279-7.416-3.967-7.417 3.967 1.481-8.279-6.064-5.828 8.332-1.151z"/></svg>
<svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24"><path d="M12 .587l3.668 7.568 8.332 1.151-6.064 5.828 1.48 8.279-7.416-3.967-7.417 3.967 1.481-8.279-6.064-5.828 8.332-1.151z"/></svg>
<svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24"><path d="M12 .587l3.668 7.568 8.332 1.151-6.064 5.828 1.48 8.279-7.416-3.967-7.417 3.967 1.481-8.279-6.064-5.828 8.332-1.151z"/></svg>
<svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24"><path d="M12 .587l3.668 7.568 8.332 1.151-6.064 5.828 1.48 8.279-7.416-3.967-7.417 3.967 1.481-8.279-6.064-5.828 8.332-1.151z"/></svg></div><p class="sc-dwsnSq jqylDz pf-292_ pf-text-1" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-bUbRBg Gdkwx pf-294_">Got this fun craft for my 6 year old boy. He loves it! I love that it kept him so occupied and it is a mess free craft. Definitely recommend!</span></p><p class="sc-dwsnSq jqylDz pf-295_ pf-text-1" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-bUbRBg Gdkwx pf-297_"> Shailesh</span></p></div></div></div></div></div></div><div class="glide-wrapper"><div style="height:100%" class="sc-bqiRlB sc-ksdxgE dlncOu kgnlsM pf-298_ pf-c-cm" data-pf-type="Slide2"><div class="glide-container"><div class="sc-pVTFL cZzoXH pf-299_ pf-r pf-c-cm pf-r-eh" style="--s-xs:0px;--s-sm:15px;--s-md:0px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-sm:4;--c-md:5;--c-lg:6"><div data-pf-type="Column" class="sc-hjGZqJ dfjDDX pf-300_"><div data-pf-type="Image" class="sc-hOGkXu dpYkYs pf-301_ pf-image-1"><img src="https://cdn.shopify.com/s/files/1/0568/1945/0045/t/50/assets/3-1670815866015.webp?v=1670815867" width="473" height="472" alt="Siblings"/></div></div></div><div class="pf-c" style="--c-xs:12;--c-sm:8;--c-md:7;--c-lg:6"><div data-pf-type="Column" class="sc-hjGZqJ dfjDDX pf-302_"><div data-pf-type="Custom.HTML" class="sc-hmjpVf fuVUXo pf-303_"><svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24"><path d="M12 .587l3.668 7.568 8.332 1.151-6.064 5.828 1.48 8.279-7.416-3.967-7.417 3.967 1.481-8.279-6.064-5.828 8.332-1.151z"/></svg>
<svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24"><path d="M12 .587l3.668 7.568 8.332 1.151-6.064 5.828 1.48 8.279-7.416-3.967-7.417 3.967 1.481-8.279-6.064-5.828 8.332-1.151z"/></svg>
<svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24"><path d="M12 .587l3.668 7.568 8.332 1.151-6.064 5.828 1.48 8.279-7.416-3.967-7.417 3.967 1.481-8.279-6.064-5.828 8.332-1.151z"/></svg>
<svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24"><path d="M12 .587l3.668 7.568 8.332 1.151-6.064 5.828 1.48 8.279-7.416-3.967-7.417 3.967 1.481-8.279-6.064-5.828 8.332-1.151z"/></svg>
<svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24"><path d="M12 .587l3.668 7.568 8.332 1.151-6.064 5.828 1.48 8.279-7.416-3.967-7.417 3.967 1.481-8.279-6.064-5.828 8.332-1.151z"/></svg></div><p class="sc-dwsnSq jqylDz pf-304_ pf-text-1" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-bUbRBg Gdkwx pf-306_">I bought this for my grandkids. I think the fact that it's dry erase makes it fun to try again or quickly go on to the next activity. They pick it up and do it on their own at times.</span></p><p class="sc-dwsnSq jqylDz pf-307_ pf-text-1" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-bUbRBg Gdkwx pf-309_"> Aishwarya</span></p></div></div></div></div></div></div><div class="glide-wrapper"><div style="height:100%" class="sc-bqiRlB sc-ksdxgE dlncOu kgnlsM pf-310_ pf-c-cm" data-pf-type="Slide2"><div class="glide-container"><div class="sc-pVTFL cZzoXH pf-311_ pf-r pf-c-cm pf-r-eh" style="--s-xs:0px;--s-sm:15px;--s-md:0px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-sm:4;--c-md:5;--c-lg:6"><div data-pf-type="Column" class="sc-hjGZqJ dfjDDX pf-312_"><div data-pf-type="Image" class="sc-hOGkXu dpYkYs pf-313_ pf-image-1"><img src="https://cdn.shopify.com/s/files/1/0568/1945/0045/t/50/assets/2-1670815851727.webp?v=1670815852" width="473" height="472" alt="happy family"/></div></div></div><div class="pf-c" style="--c-xs:12;--c-sm:8;--c-md:7;--c-lg:6"><div data-pf-type="Column" class="sc-hjGZqJ dfjDDX pf-314_"><div data-pf-type="Custom.HTML" class="sc-hmjpVf fuVUXo pf-315_"><svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24"><path d="M12 .587l3.668 7.568 8.332 1.151-6.064 5.828 1.48 8.279-7.416-3.967-7.417 3.967 1.481-8.279-6.064-5.828 8.332-1.151z"/></svg>
<svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24"><path d="M12 .587l3.668 7.568 8.332 1.151-6.064 5.828 1.48 8.279-7.416-3.967-7.417 3.967 1.481-8.279-6.064-5.828 8.332-1.151z"/></svg>
<svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24"><path d="M12 .587l3.668 7.568 8.332 1.151-6.064 5.828 1.48 8.279-7.416-3.967-7.417 3.967 1.481-8.279-6.064-5.828 8.332-1.151z"/></svg>
<svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24"><path d="M12 .587l3.668 7.568 8.332 1.151-6.064 5.828 1.48 8.279-7.416-3.967-7.417 3.967 1.481-8.279-6.064-5.828 8.332-1.151z"/></svg>
<svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24"><path d="M12 .587l3.668 7.568 8.332 1.151-6.064 5.828 1.48 8.279-7.416-3.967-7.417 3.967 1.481-8.279-6.064-5.828 8.332-1.151z"/></svg></div><p class="sc-dwsnSq jqylDz pf-316_ pf-text-1" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-bUbRBg Gdkwx pf-318_">When Guess in 10" arrived, we opened it and played it right away. We had so much fun with it!!!  Quality and price is reasonable. I would recommend this awesome learning game!</span></p><p class="sc-dwsnSq jqylDz pf-319_ pf-text-1" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-bUbRBg Gdkwx pf-321_"> Livnat</span></p></div></div></div></div></div></div></div><button type="button" aria-label="Previous" class="glider-prev glider-nav glider-nav-1"></button><button type="button" aria-label="Next" class="glider-next glider-nav glider-nav-1"></button></div></div></div></div></div></div><div data-section-id="pf-d7c4" data-pf-type="Section" class="sc-gjNHFA iojfsv pf-322_ pf-color-scheme-1"><div style="--cw:1170px" class="sc-gyElHZ fxaypC"><div class="sc-pVTFL cZzoXH pf-323_ pf-r pf-c-cm pf-r-eh" style="--s-xs:0px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-md:12;--c-lg:12"><div data-pf-type="Column" class="sc-hjGZqJ dfjDDX pf-324_"><div data-pf-type="ArticleBox" class="sc-JkixQ fgCFSm pf-325_">{% assign defaultArticle = article %}{% assign article = article_559269609661 %}<div class="sc-pVTFL cZzoXH pf-326_ pf-r pf-c-cm pf-r-eh" style="--s-xs:15px;--s-lg:8px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-sm:6;--c-md:6;--c-lg:6"><div data-pf-type="Column" class="sc-hjGZqJ dfjDDX pf-327_"><img data-href="{{ article.url }}" alt="{{ article.image.alt }}" loading="eager" width="{{ article.image.width }}" height="{{ article.image.height }}" src="{%- if article.image -%}
          {{- article.image | img_url: 'master' -}}
          {%- else -%}
          https://cdn.pagefly.io/static/images/collection.svg
          {%- endif -%}" data-pf-type="ArticleImage2" class="sc-kYHfwS QlfnY pf-328_ pf-image-1"/></div></div><div class="pf-c" style="--c-xs:12;--c-sm:6;--c-md:6;--c-lg:6"><div data-pf-type="Column" id="pf-add-label" class="sc-hjGZqJ dfjDDX pf-329_"><h3 data-pf-type="Heading2" class="sc-jIkXHa bGnPis pf-330_ pf-heading-3-h3">From the blog
</h3><h3 data-pf-type="ArticleTitle" class="sc-kHxTfl jAeIDm pf-332_ pf-heading-1-h3"><a data-link="inherit" href="{{ article.url }}">{{ article.title }}</a></h3><p class="sc-ZOtfp cLnRKw pf-333_ pf-text-1" data-pf-type="Paragraph3">Children are known for their endless creative potential and vivid imaginations. Encourage children to appreciate the amazing world around them, dream big, and develop their imaginations with your birthday wishes for kids.</p><a href="/blogs/blog/30-birthday-wishes-for-kids-to-send-your-love-blessings" target="_self" data-pf-type="Button2" id="read-more" class="sc-jOxtWs eWUPdm pf-335_ pf-button-1">Read More</a></div></div></div>{% assign article = defaultArticle %}</div></div></div></div></div></div><div data-section-id="pf-c525" data-pf-type="Section" class="sc-gjNHFA iojfsv pf-337_ pf-color-scheme-1 pf-lg-hide"><div style="--cw:1170px" class="sc-gyElHZ fxaypC"><div class="sc-pVTFL cZzoXH pf-338_ pf-r pf-c-cm pf-r-eh" style="--s-xs:0px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-md:12;--c-lg:12"><div data-pf-type="Column" class="sc-hjGZqJ dfjDDX pf-339_"><div data-pf-type="Custom.HTML" class="sc-hmjpVf fuVUXo pf-340_"><div class='recently-viewed'></div></div></div></div></div></div></div></div></div></div><script>
    !function(){
      window.__pagefly_page_setting__ = {"pageTitle":"Homepage - for testing","pageType":"home","pageId":"02dde2ae-d62f-4a47-9195-6769d1a6c294","lazyLoad":false,"forceByPassGoogleLightHouse":false,"imageLazyLoad":false,"nativeImageLazyLoad":true,"useThemeJQ":false,"trackingIDs":[]};
      window.__pagefly_setting__&&(window.__pagefly_setting2__=window.__pagefly_setting__),window.__pagefly_setting__={"baseURL":"https://apps.pagefly.io","analyticsURL":"https://analytics.pagefly.io","isBackend":false,"cdnURL":"https://cdn.pagefly.io","pageflyVersion":"4.13.3","shopDomain":"skillmaticsindia.myshopify.com","elementData":{"pf-8_":{"autoPlay":true,"autoPlayDelay":8000,"loop":true,"slidesToShow":{"all":1,"laptop":1,"tablet":1,"mobile":1},"slidesToScroll":{"all":1,"laptop":1,"tablet":1,"mobile":1},"displayPartialItems":{"all":false,"laptop":false,"tablet":false,"mobile":false},"gutter":{"all":0,"laptop":0,"tablet":0,"mobile":0},"maxHeight":true,"pauseOnHover":true,"navStyle":"none","paginationStyle":"pagination-style-2","id":"dc48020f-b478-4409-bdda-c82126dcd27e","_type":"Slideshow"},"pf-120_":{"listPosition":{"all":2,"laptop":2,"tablet":2,"mobile":2},"hoverAction":0,"onHover":0,"clickAction":0,"imageSource":"featured","id":"d994ff17-0af8-47e4-9dfd-9f4a3a77b093","_type":"ProductMedia2"},"pf-121_":{"hoverAction":0,"onHover":0,"clickAction":1,"navStyle":"none","paginationStyle":"none","slidesToShow":{"all":1,"laptop":1,"tablet":1,"mobile":1},"slidesToScroll":{"all":1,"laptop":1,"tablet":1,"mobile":1},"id":"fc512bc7-71f6-461f-aa76-4124f81d8e42","_type":"MediaMain"},"pf-122_":{"slidesToShow":{"all":5,"laptop":5,"tablet":5,"mobile":5},"slidesToScroll":{"all":1,"laptop":1,"tablet":1,"mobile":1},"displayPartialItems":{"all":false,"laptop":false,"tablet":false,"mobile":false},"navStyle":"none","listLayout":{"all":1,"laptop":1,"tablet":1,"mobile":1},"id":"13913355-5076-422a-84af-83445ff78e0b","_type":"MediaList2"},"pf-124_":{"applyCondition":false,"collectionSource":"custom","collectionIds":["270618656957"],"tags":"Limited Time Deal","id":"2f78fea3-b54e-4d27-8735-3037ef6d1839","_type":"ProductBadge"},"pf-137_":{"iconPos":"left","id":"8d1735c6-430f-4f32-ac37-9db8420072d6","_type":"ProductATC2"},"pf-163_":{"listPosition":{"all":2,"laptop":2,"tablet":2,"mobile":2},"hoverAction":0,"onHover":0,"clickAction":0,"imageSource":"featured","id":"97b6d931-0627-4d6a-aaf4-361781618a1e","_type":"ProductMedia2"},"pf-164_":{"hoverAction":0,"onHover":0,"clickAction":1,"navStyle":"none","paginationStyle":"none","slidesToShow":{"all":1,"laptop":1,"tablet":1,"mobile":1},"slidesToScroll":{"all":1,"laptop":1,"tablet":1,"mobile":1},"id":"b6d93106-275d-4a2a-b436-1781618a1ec6","_type":"MediaMain"},"pf-165_":{"slidesToShow":{"all":5,"laptop":5,"tablet":5,"mobile":5},"slidesToScroll":{"all":1,"laptop":1,"tablet":1,"mobile":1},"displayPartialItems":{"all":false,"laptop":false,"tablet":false,"mobile":false},"navStyle":"none","listLayout":{"all":1,"laptop":1,"tablet":1,"mobile":1},"id":"d9310627-5d6a-4af4-b617-81618a1ec66f","_type":"MediaList2"},"pf-167_":{"applyCondition":false,"collectionSource":"custom","collectionIds":["270618656957"],"tags":"Limited Time Deal","id":"06275d6a-2af4-4617-8161-8a1ec66f917c","_type":"ProductBadge"},"pf-180_":{"iconPos":"left","id":"6f917c9c-9d0e-4369-ac4c-2ff4995e9279","_type":"ProductATC2"},"pf-183_":{"autoPlay":true,"autoPlayDelay":6000,"loop":false,"slidesToShow":{"all":1,"laptop":1,"tablet":1,"mobile":1},"slidesToScroll":{"all":1,"laptop":1,"tablet":1,"mobile":1},"displayPartialItems":{"all":false,"laptop":false,"tablet":false,"mobile":false},"gutter":{"all":0,"laptop":0,"tablet":0,"mobile":0},"maxHeight":true,"pauseOnHover":false,"navStyle":"none","paginationStyle":"pagination-style-2","id":"134608a8-8ce0-47f7-a025-e2cd4bcfd36f","_type":"Slideshow"}},"shopifyProxyPath":"/a/pf_preview"},window.__pagefly_setting2__&&(window.__pagefly_setting__=function _(d,b){let c={...d||{}};for(let a of Object.keys(b))b[a]instanceof Object&&(Array.isArray(b[a])&&c[a]?Object.assign(b[a],[...b[a],...c[a]]):Object.assign(b[a],_(c[a],b[a])));return Object.assign(c||{},b),c}(__pagefly_setting2__,__pagefly_setting__),delete window.__pagefly_setting2__),window.__pagefly_setting__.moneyFormat={{shop.money_format|json}}}();
    </script><script src="https://cdn.pagefly.io/pagefly/4.13.3/core/helper.js" async></script><script>window.addEventListener('load', function () {


setTimeout(() => {
  const buttons = document.querySelectorAll(".pf-slider-nav button");
  buttons.forEach(button => {
    button.setAttribute('aria-label', 'pagination');
    console.log(button);
  });

  const readMoreButton = document.getElementById('read-more');
  if (readMoreButton) {
    readMoreButton.setAttribute('aria-label', '30 Birthday Wishes for Kids to Send Your Love & Blessings');
    console.log(readMoreButton);
  }
}, 200);
});

//Remove all [loading='lazy'] at hero slider
document.addEventListener("DOMContentLoaded", function () {
  let elImgtag = document.querySelectorAll("#pf-custom-heroSlider img[loading='lazy']");
  setTimeout(() => {
    elImgtag
      .forEach(img => {
        img.removeAttribute('loading');
      });
  }, 200);
});</script>
{% schema %}
{
  "name": "PageFly Home Page",
  "settings": [
    {
      "type": "paragraph",
      "content": "For full configuration, [visit PageFly Editor](https://skillmaticsindia.myshopify.com/admin/apps/pagefly/editor?id=02dde2ae-d62f-4a47-9195-6769d1a6c294&type=home)."
    }
  ],
  "blocks": [
    {
      "type": "@app"
    }
  ]
}
{% endschema %}