

{%- if section.blocks.size > 0 and section.settings.show_marquee_bar -%}
  <div class="desktop-hidden hura-marquee-bar hura-messages" style="background:{{section.settings.colorBackground}};color:{{section.settings.colorText}};">
    <marquee
      width="100%"
      scrollamount="{{ section.settings.speed }}"
      direction="{{ section.settings.direction }}"
      {% if section.settings.pause_on_hover %}
        onmouseover="this.stop();" onmouseout="this.start();"
      {% endif %}
    >
      {%- for block in section.blocks -%}
        <div
          class="font-Mikado font-d-Mikado hura-message"
         style="background:{{section.settings.colorBackground}};color:{{section.settings.colorText}};"
        ><span class="img-withtext">
          {% if block.settings.image != blank %}
           <img src="{{block.settings.image | img_url:'logo'}}" loading="lazy" width="40px"  height="40px"  alt="Image {{ forloop.index }}" role="img" aria-label="Image {{ forloop.index }} {{block.settings.headings}}">
          {% endif %}
       {% if block.settings.headings != blank %}   {{ block.settings.headings }} {% endif %}
       </span>
        </div>
      {%- endfor -%}
            {%- for block in section.blocks -%}
        <div
          class="font-Mikado font-d-Mikado hura-message"
         style="background:{{section.settings.colorBackground}};color:{{section.settings.colorText}};"
        ><span class="img-withtext">
          {% if block.settings.image != blank %}
           <img src="{{block.settings.image | img_url:'logo'}}" loading="lazy" width="40px"  height="40px"  alt="Image {{ forloop.index }}" role="img" aria-label="Image {{ forloop.index }} {{block.settings.headings}}">
          {% endif %}
       {% if block.settings.headings != blank %}   {{ block.settings.headings }} {% endif %}
       </span>
        </div>
      {%- endfor -%}

    </marquee>
  </div>
  
  <style>
    span.img-withtext {
    display: flex;
    text-align: center;
    align-items: center;
    gap: 10px;
}
    span.img-withtext img {
    width: 30px;object-fit: contain;
    height: 30px;
}
    .hura-message p {
    font-size: 16px;
    font-weight: 500;    margin: 8px 0;
}
    .hura-marquee-bar.hura-messages{
      position: relative;
      overflow: hidden;
      display: flex;
    }
    .hura-marquee-bar .hura-message{
      text-align:center;
      padding:2px 7%;
      display: inline-block;
    }
  </style>

{%- endif -%}

{% schema %}
{
  "name": "Marquee div",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_marquee_bar",
      "label": "Show"
    },
     {
      "type": "select",
      "id": "direction",
      "options": [
        {
          "value": "left",
          "label": "Right to Left"
        },
        {
          "value": "right",
          "label": "Left to Right"
        }
      ],
      "default": "right",
      "label": "Direction"
    },
    {
      "type": "checkbox",
      "id": "pause_on_hover",
      "label": "Pause on hover"
    },
    {
      "type": "text",
      "id": "speed",
      "label": "Speed",
      "default": "15"
    },
          {
            "type": "color",
            "id": "colorBackground",
            "label": "Background color",
            "default": "#ffffff"
          },
          {
            "type": "color",
            "id": "colorText",
            "label": "Text color",
            "default": "#000"
 }

],
"blocks": [
    {
      "type": "column",
      "name": "Column",
      "settings": [
         {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
          {
            "id": "headings",
            "type": "richtext",
           "label": "Headings"
          },
          {
          "type": "url",
          "id": "link",
          "label": "Link"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Marquee div"
    }
  ]
}
{% endschema %}

